<template>
  <div id="app" class="d-flex flex-column">
    <b-navbar
      class="main-nav flex-shrink-0"
      toggleable="md"
      type="dark"
      variant="primary"
    >
      <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>

      <b-navbar-brand href="#" :to="{ name: 'home' }" style="width: 80px">
        <transition name="fade">
          <div
            class="spinner-grow text-warning brand-elem"
            role="status"
            v-if="loading"
          >
            <span class="sr-only">Loading...</span>
          </div>
          <span v-else class="brand-elem"> expo-data </span>
        </transition>
      </b-navbar-brand>

      <b-collapse is-nav id="nav_collapse">
        <b-navbar-nav>
          <b-nav-item
            href="#"
            :to="{ name: 'product-list' }"
            :active="/^product/.test($route.name)"
            v-if="groups.has('products')"
            >Products</b-nav-item
          >
          <b-nav-item
            href="#"
            :to="{ name: 'tickets' }"
            :active="/^ticket/.test($route.name)"
            v-if="groups.has('tickets')"
            >Tickets</b-nav-item
          >
          <b-nav-item
            href="#"
            :to="{ name: 'receipts' }"
            :active="/^receipt/.test($route.name)"
            v-if="groups.has('receipts')"
            >Receipts</b-nav-item
          >
          <b-nav-item
            href="#"
            :to="{ name: 'inventories' }"
            :active="/^(inventor|stock|counting)/.test($route.name)"
            v-if="groups.has('inventory')"
            >Inventory</b-nav-item
          >
          <b-nav-item
            href="#"
            :to="{ name: 'reports' }"
            :active="/^report/.test($route.name)"
            v-if="groups.has('reports')"
            >Reports</b-nav-item
          >
          <b-nav-item
            href="#"
            :to="{
              name: 'payment-journal',
              params: { inventory: inventory.id },
            }"
            :active="/^(accounting|payment)/.test($route.name)"
            v-if="groups.has('accounting') && inventory"
            >Accounting</b-nav-item
          >
          <b-nav-item
            href="#"
            :to="{ name: 'webshop-orders' }"
            :active="/^(webshop)/.test($route.name)"
            v-if="groups.has('webshop') && inventory"
            >Web shop</b-nav-item
          >
        </b-navbar-nav>
      </b-collapse>
      <b-nav-form class="ml-auto">
        <b-button size="sm" class="my-2 my-sm-0" @click="logout" v-if="user"
          >Logout {{ user.sub }}</b-button
        >
      </b-nav-form>
    </b-navbar>
    <router-view name="subnav" />
    <b-alert
      variant="danger"
      class="mb-0"
      dismissible
      :show="error != false"
      @dismissed="clearError"
    >
      <strong>An error occurred:</strong> {{ error }}
    </b-alert>
    <messages />
    <main class="d-flex align-items-stretch flex-grow-1">
      <transition :name="routeTransition" mode="out-in">
        <router-view
          v-if="!maximized || !detail"
          class="scrollable flex-grow-1 main-view"
        />
      </transition>
      <transition :name="routeTransition" mode="out-in">
        <router-view
          :key="$route.path"
          class="detail-view border-left"
          name="details"
        />
      </transition>
    </main>
    <history />
    <datalist id="country">
      <option v-for="c of countries" :key="c.id" :value="c.name"></option>
    </datalist>
  </div>
</template>
<script>
import History from "@/views/History.vue";
import Messages from "@/components/Messages.vue";
import { mapGetters, mapMutations } from "vuex";
import client from "@/client";
const countries = require("@/data/countries.json");
export default {
  data() {
    return {
      countries,
      routeTransition: "fade",
    };
  },
  components: {
    Messages,
    History,
  },
  methods: {
    ...mapMutations(["clearError"]),
    logout() {
      client.fetchAPI.logout();
    },
  },
  mounted() {
    this.$store.dispatch("inventory/reloadInventories");
  },
  watch: {
    $route(to, from) {
      if (["product-variants", "product-custom-attributes"].includes(to.name)) {
        this.transitionName = null;
      } else {
        this.transitionName = "fade";
      }
    },
  },
  computed: {
    ...mapGetters({
      loading: "isLoading",
      error: "error",
      maximized: "maximized",
      groups: "groups",
      user: "user",
      inventory: "inventory/currentInventory",
    }),
    detail() {
      return !!this.$route.matched[0].components.details;
    },
  },
};
</script>

<style >
body {
  height: 100vh;
}

.brand-elem {
  position: absolute;
  top: 6px;
  left: auto;
  right: auto;
}

.main-nav .nav-link {
  outline: 2px solid transparent;
  transition: outline-color 0.3s ease;
}
.main-nav .nav-link.active {
  outline: 2px solid white;
}
.detail-view {
  background: white;
  overflow: hidden;
  flex-shrink: 0;
  max-width: 100vw;
  flex-basis: 500px;
  flex-grow: 1;
  transition: width 0.5s ease;
}
.main-view {
  resize: horizontal;
}
.fade-leave-active {
  transition: opacity 0.1s;
}
.fade-enter-active {
  transition: opacity 0s ease;
}
.fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0.5;
}

.slide-enter-active,
.slide-leave-active {
  transition: all 0.5s;
}
.slide-enter, .slide-leave-to /* .fade-leave-active below version 2.1.8 */ {
  margin-right: -100px;
}

main {
  overflow: hidden;
}
.popover-container {
}

.color-disp {
  outline: 1px solid #222;
  width: 12px;
  height: 12px;
  display: inline-block;
  vertical-align: middle;
  margin: 2px 5px;
}
</style>
