<template>
  <div class="scrollable pb-5">
    <b-list-group>
      <b-list-group-item
        v-for="(c, i) of data.counts"
        :key="i"
        class="d-flex align-items-center"
      >
        {{ i }}

        <b-form-checkbox
          v-model="groups"
          :value="{ type: i, lang: j }"
          class="ml-3"
          v-for="(o, j) of c"
          :key="j"
        >
          <b-badge variant="primary" pill>{{ o }} {{ j }}</b-badge>
        </b-form-checkbox>
      </b-list-group-item>
    </b-list-group>

    <b-table :items="filteredBoxes" :fields="fields"
      selectable
      select-mode="range"
      @row-selected="onRowSelected">
      <template v-slot:cell(order_color)="row">
        <span
          class="color"
          v-if="row.item.order_group"
          :style="{ backgroundColor: '#' + row.item.order_color }"
          :title="`${row.item.order_group} ${row.item.comment || ''}`"
        ></span>

        <b-icon-printer v-if="row.item.print_count > 0"></b-icon-printer>
      </template>

      <template v-slot:cell(order_id)="row">
        <a
          :href="`${webshopOrdersUrl}/view/order_id/${row.item._order_entity_id}/`"
          target="_blank"
        >
          {{ row.value }}
        </a>
      </template>
      <template v-slot:cell(show_details)="row">
        <div style="white-space: nowrap">

          <b-button
            size="sm"
            variant="outline-info"
            @click="toggleDetails(row)"
            class="mr-2"
            :title="`${row.detailsShowing ? 'Hide' : 'Show'} Details`"
          >
            <b-icon-arrow-up v-if="row.detailsShowing"></b-icon-arrow-up>
            <b-icon-arrow-down v-if="!row.detailsShowing"></b-icon-arrow-down>
          </b-button>
        </div>
      </template>

      <template v-slot:row-details="row">
        <b-table
          :fields="item_fields"
          :items="row.item.items"
        />
        <b-textarea
          @change="saveComment(row.item)"
          v-model="row.item.comment"
        />
      </template>
    </b-table>
  </div>
</template>

<script>
//eslint-disable
import Decimal from "decimal.js";
import {GET_WEBSHOP_ORDERS_URL} from "@/queries/configurations";

import client from "@/client";
import moment from "moment";
const stringify = require("csv-stringify");

const curFmt = new Intl.NumberFormat("fr-FR", {
  style: "decimal",
  minimumFractionDigits: 2,
});
function dateFmt(value, key, item) {
  return moment(value).format("DD/MM/YYYY HH:mm");
}
function cur(d) {
  // currency format
  var val = Decimal(d).toDP(4).toString().replace(".", ",");
  if (val.indexOf(",") === -1) {
    val = val + ",00";
  } else if (val.indexOf(",") >= val.length - 2) {
    val = val + "0";
  } else {
    val = val;
  }
  return `${val} €`;
}
export default {
  data() {
    return {
      data: [],
      groups: [],
			selected: [],

      fields: [
        { key: "order_color", sortable: true, label: "C" },
        { key: "order_id", sortable: true },
        { key: "created_at", sortable: true },
        { key: "status", sortable: true },
        { key: "recipient", sortable: true },
        { key: "product", sortable: true },
				{ key: "options", sortable: true },
				
        { key: "show_details", label: '' },
      ],
    };
  },

  apollo: {
    webshopOrdersUrl: {
      query: GET_WEBSHOP_ORDERS_URL
    }
  },
  computed: {
    filteredBoxes() {
      return this.data.boxes?.filter((d) => {
        return this.groups.find(
          (g) => g.type === d.product && d.options.join(";") === g.lang
        );
      });
    },
  },
  async mounted() {
    this.data = await client.webshop.boxes.list();
    for (let d of this.data.boxes) {
      d.created_at = dateFmt(d.created_at);
      d.recipient = `${d.lastname}, ${d.firstname}`;
    }
  },
  methods: {
		async fetchOrders() {
      if (this.orderType === "pending") {
        return await client.webshop.orders.list({ status: [this.status] });
      } else if (this.orderType === "boxes") {
        const { boxes, counts } = await client.webshop.boxes.list();
        this.counts = counts;
				return boxes;
      }
    },
		async toggleDetails(row) {
      row.item.items = await client.webshop.orders.items(row.item.entity_id);
      row.toggleDetails();
    },
		onRowSelected(items) {
      this.selected = items;
    },
	},
};
</script>

<style>
.color {
  display: inline-block;
  width: 1em;
  height: 1em;
  outline: 1px solid black;
  margin-right: 1em;
}
</style>