<template>
  <div class="scrollable pb-5">
    <b-list-group>
      <b-list-group-item
        v-for="(c, i) of data.counts"
        :key="i"
        class="d-flex align-items-center"
      >
        {{ i }}

        <b-form-checkbox
          v-model="groups"
          :value="{ type: i, lang: j }"
          class="ml-3"
          v-for="(o, j) of c"
          :key="j"
        >
          <b-badge variant="primary" pill>{{ o }} {{ j }}</b-badge>
        </b-form-checkbox>
      </b-list-group-item>
    </b-list-group>
    <order-table :extraFields="extraFields" :fetchOrders="fetchOrders" ref="table" />
  </div>
</template>

<script>
import client from "@/client";
import moment from "moment";
import OrderTable from "./OrderTable.vue";

function dateFmt(value, key, item) {
  return moment(value).format("DD/MM/YYYY HH:mm");
}

export default {
  components: {
    OrderTable,
  },
  data() {
    return {
      data: {
        boxes: [],
        counts: [],
      },
			extraFields:[
        { key: "product", sortable: true },
				{ key: "options", sortable: true },
			],
      groups: [],
      selected: [],

      fields: [
        { key: "order_color", sortable: true, label: "C" },
        { key: "order_id", sortable: true },
        { key: "created_at", sortable: true },
        { key: "status", sortable: true },
        { key: "recipient", sortable: true },
        { key: "product", sortable: true },
        { key: "options", sortable: true },

        { key: "show_details", label: "" },
      ],
    };
  },
  computed: {
    filteredBoxes() {
      return this.data.boxes?.filter((d) => {
        return this.groups.find(
          (g) => g.type === d.product && d.options.join(";") === g.lang
        );
      });
    },
  },
  async mounted() {
    this.data = await client.webshop.boxes.list();
    for (let d of this.data.boxes) {
      //d.created_at = dateFmt(d.created_at);
      d.recipient = `${d.lastname}, ${d.firstname}`;
    }
  },
  methods: {
    async fetchOrders() {
      return this.filteredBoxes ?? [];
    },
    async reloadOrders() {
      if (this.orderType === "pending") {
        return await client.webshop.orders.list({ status: [this.status] });
      } else if (this.orderType === "boxes") {
        const { boxes, counts } = await client.webshop.boxes.list();
        this.counts = counts;
        return boxes;
      }
    },
    async toggleDetails(row) {
      row.item.items = await client.webshop.orders.items(row.item.entity_id);
      row.toggleDetails();
    },
    onRowSelected(items) {
      this.selected = items;
    },
  },
  watch: {
    async groups() {
      await this.$refs.table.reloadOrders();
    },
  },
};
</script>

<style>
.color {
  display: inline-block;
  width: 1em;
  height: 1em;
  outline: 1px solid black;
  margin-right: 1em;
}
</style>