<script>
import { mapGetters } from "vuex";
export default {
  computed: {
    ...mapGetters({
    })
  }
};
</script>

<template>
  <div class="d-flex flex-column no-scroll">
    <b-nav tabs type="primary" class="flex-fixed">
      <b-nav-item
        :active="$route.name === 'webshop-orders'"
        :to="{name:'webshop-orders'}"
      >Orders</b-nav-item>
      <b-nav-item
        :active="$route.name === 'webshop-boxes'"
        :to="{name:'webshop-boxes'}"
      >Boxes</b-nav-item>
    </b-nav>
    <router-view class />
  </div>
</template>
