<template>
  <div class="d-flex flex-column h-100">
    <div class="d-flex bd-highlight">
      <b-input
        size="lg"
        placeholder="Search"
        v-model="search"
        :debounce="500"
        class="flex-grow-1"
      />
      <slot name="search"/>
    </div>
    <b-table
      sticky-header
      ref="table"
      class="flex-grow-1 order-table"
      style="max-height: 100%"
      small
      hover
      :items="filteredOrders"
      :fields="fields"
      :sort-by.sync="sortBy"
      :sort-desc.sync="sortDesc"
      selectable
      select-mode="range"
      @row-selected="onRowSelected"
    >
      <template v-slot:cell(order_no)="row">
        <div style="white-space: nowrap">
          <a
            :href="`${webshopOrdersUrl}/view/order_id/${row.item.entity_id}/`"
            target="_blank"
          >
            {{ row.item.order_no }}
          </a>

          <b-icon-info-square v-if="row.item.comment" class="text-info" />
        </div>
        <b-badge v-if="row.item.match" variant="success">
          {{ row.item.match }}
        </b-badge>
      </template>
      <template v-slot:cell(order_color)="row">
        <span
          class="color"
          v-if="row.item.order_group"
          :style="{ backgroundColor: '#' + row.item.order_color }"
          :title="row.item.order_group"
        ></span>
      </template>
      <template v-slot:cell(show_details)="row">
        <div style="white-space: nowrap">
          <b-button
            size="sm"
            variant="outline-warning"
            @click="printOrder(row)"
            class="mr-2"
            :title="`Print order`"
          >
            <b-icon-printer></b-icon-printer>
            <b-badge variant="success" small v-if="row.item.print_count > 0">{{
              row.item.print_count
            }}</b-badge>
          </b-button>
          <b-button
            size="sm"
            variant="outline-success"
            :href="`${webshopOrdersUrl}_shipment/new/order_id/${row.item.entity_id}/`"
            target="_blank"
            class="mr-2"
            :title="`Ship order (opens in magento)`"
          >
            <b-icon-truck></b-icon-truck>
          </b-button>
          <b-button
            size="sm"
            variant="outline-info"
            @click="toggleDetails(row)"
            class="mr-2"
            :title="`${row.detailsShowing ? 'Hide' : 'Show'} Details`"
          >
            <b-icon-arrow-up v-if="row.detailsShowing"></b-icon-arrow-up>
            <b-icon-arrow-down v-if="!row.detailsShowing"></b-icon-arrow-down>
          </b-button>
        </div>
      </template>

      <template v-slot:row-details="row">
        <b-table :fields="item_fields" :items="row.item.items" />
        <b-textarea
          @change="saveComment(row.item)"
          v-model="row.item.comment"
        />
      </template>
    </b-table>
    <div class="pb-5">
      <b-btn class="ml-4" variant="outline-primary" @click="exportCSV"
        >Export as CSV</b-btn
      >

      <b-btn class="ml-4" variant="outline-primary" @click="exportColiCSV"
        >Export Colissimo</b-btn
      >
      <b-btn class="ml-4" variant="outline-primary" @click="createPDF"
        >Create PDF of orders</b-btn
      >

      <b-btn class="ml-4" variant="outline-primary" @click="exportPDF"
        >Export table PDF</b-btn
      >
      <b-btn class="ml-4" variant="outline-primary" @click="selectAll"
        >Select all</b-btn
      >
      <b-btn class="ml-4" variant="outline-primary" @click="selectNone"
        >Select none</b-btn
      >
      <b-btn class="ml-4" variant="outline-success" @click="reloadOrders">
        <b-icon-arrow-counterclockwise />
      </b-btn>
      <b-dropdown class="ml-4 mr-4" variant="info" text="Assign group">
        <b-dropdown-item
          :key="og.id"
          @click="assignGroup(og.name)"
          v-for="og of orderGroups"
        >
          <span
            class="color"
            :style="{ backgroundColor: `#${og.color}` }"
          ></span>
          {{ og.name }}
        </b-dropdown-item>
      </b-dropdown>
      {{ selection.length }} orders
    </div>
  </div>
</template>
<script>
import client from "@/client";
import {GET_WEBSHOP_ORDERS_URL} from "@/queries/configurations";
import Decimal from "decimal.js";
import { saveAs } from "file-saver";
import _ from "lodash";
import {renderWebshopOrders} from "@/utils/pdf-helpers";
import moment from "moment";

const stringify = require("csv-stringify");

const curFmt = new Intl.NumberFormat("fr-FR", {
  style: "decimal",
  minimumFractionDigits: 2,
});
function dateFmt(value, key, item) {
  return moment(value).format("DD/MM/YYYY HH:mm");
}
function cur(d) {
  // currency format
  var val = Decimal(d ?? 0).toDP(4).toString().replace(".", ",");
  if (val.indexOf(",") === -1) {
    val = val + ",00";
  } else if (val.indexOf(",") >= val.length - 2) {
    val = val + "0";
  } else {
    val = val;
  }
  return `${val} €`;
}

export default {
  props: {
    fetchOrders: {
      type: Function,
      default: () => () => [],
    },
		extraFields: {
			type: Array,
			default: () => []
		}
  },
  data() {
    return {
      orders: [],
      search: null,
      orderGroups: [],
      sortBy: "created_at",
      sortDesc: true,
      fields: [
        { key: "order_color", sortable: true, label: "C" },
        { key: "order_no", sortable: true },
        { key: "recipient", sortable: true },
        {
          key: "created_at",
          formatter: dateFmt,
          label: "Created",
          sortable: true,
        },
        { key: "status", sortable: true },
        { key: "state", sortable: true },
        { key: "grand_total", formatter: cur, sortable: true },
        { key: "shipping_amount", formatter: cur, sortable: true },
        { key: "customer_email" },
        { key: "street" },
        { key: "postcode" },
        { key: "city" },
        { key: "country_id", sortable: true },
				...this.extraFields,
				{ key: "show_details" },
				
      ],
      item_fields: [
        { key: "sku" },
        { key: "name" },
        { key: "row_weight" },
        { key: "qty_ordered" },
        { key: "price_incl_tax", formatter: cur },
        { key: "total", formatter: cur },
        { key: "tax_amount", formatter: cur },
        { key: "tax_percent", formatter: (val) => `${val}%` },
      ],
      selected: [],
    };
  },
  computed: {
    filteredOrders() {
      if (!this.search) {
        return this.orders;
      }
      let [search, spec] = this.search.split("::");
      if (spec) spec = new RegExp(spec, "i");
      const regex = new RegExp(search, "i");
      let searchFields = [
        "order_no",
        "firstname",
        "lastname",
        "customer_email",
        "street",
        "postcode",
        "city",
        "country_id",
        "order_group",
      ];
      if (spec) searchFields = searchFields.filter((sf) => spec.test(sf));
      return (this.orders || [])
        .map((o) => {
          for (let f of searchFields) {
            if (regex.test(o[f])) {
              let pf = f;
              if (pf === "order_group") {
                pf = "group";
              }
              return {
                ...o,
                match: `${pf}: ${o[f]}`,
              };
            }
          }
          if (!spec || spec.test("product_name"))
            for (let pn of o.product_names) {
              if (regex.test(pn)) {
                return {
                  ...o,
                  match: `product: ${pn}`,
                };
              }
            }
          if (!spec || spec.test("sku"))
            for (let pn of o.product_skus) {
              if (regex.test(pn)) {
                return {
                  ...o,
                  match: `sku: ${pn}`,
                };
              }
            }
          return o;
        })
        .filter((o) => o.match);
    },
    selection() {
      return (this.selected?.length > 0 ? this.selected : this.filteredOrders) ?? [] ;
    },
  },
  async mounted() {
    await this.reloadOrders();
  },

  apollo: {
    webshopOrdersUrl: {
      query: GET_WEBSHOP_ORDERS_URL
    }
  },
  methods: {
    async exportPDF() {
			await renderWebshopOrders(this.selection, this.fields);
		},
    async reloadOrders() {
      this.orders = await this.fetchOrders();
      this.orderGroups = await client.webshop.orders.listGroups();
      for (let o of this.orders) {
        o.product_names = o.product_names?.split("@@");
        o.product_skus = o.product_skus?.split("@@");
        o.recipient = `${o.lastname}, ${o.firstname}`;
      }
    },

    async reloadQuick() {
      const orders = _.keyBy(await this.fetchOrders(), "entity_id");
      for (let o of this.orders) {
        const o_ = orders[o.entity_id];
        if (o_) {
          Object.assign(o, o_);
        }
      }
    },
    async assignGroup(groupname) {
      await client.webshop.orders.assignGroup(
        groupname,
        this.selection.map((s) => s.entity_id)
      );
      await this.reloadOrders();
    },
    async toggleDetails(row) {
      row.item.items = await client.webshop.orders.items(row.item.entity_id);
      row.toggleDetails();
    },
    async printOrder(row) {
      const data = await client.webshop.orders.printPDF([row.item.entity_id]);

      saveAs(data, `orders-${row.item.order_no}.pdf`);
      await this.reloadQuick();
    },
    async saveComment(item) {
      await client.webshop.orders.saveComment(item.entity_id, item.comment);
    },
    onRowSelected(items) {
      this.selected = items;
    },
    selectAll() {
      this.$refs.table.selectAllRows();
    },
    selectNone() {
      this.$refs.table.clearSelected();
    },
    async createPDF() {
      const data = await client.webshop.orders.printPDF(
        this.selection.map((s) => s.entity_id)
      );
      saveAs(data, "orders-to-print.pdf");
      await this.reloadQuick();
    },
    exportCSV() {
      const m = this.selection.map((s) => ({
        order_no: s.order_no,
        firstname: s.firstname,
        lastname: s.lastname,
        email: s.customer_email,
        street: s.street,
        postcode: s.postcode,
        city: s.city,
        country: s.country_id,
      }));
      if (!m.length) return;
      stringify(
        [Object.keys(m[0]), ...m.map((s) => Object.values(s))],
        function (err, output) {
          //eslint-disable-next-line
          console.log(output);
          if (err) {
            return alert(err);
          }
          var element = document.createElement("a");
          element.setAttribute(
            "href",
            "data:text/csv;charset=utf-8," + encodeURIComponent(output)
          );
          element.setAttribute("download", "orders.csv");

          element.style.display = "none";
          document.body.appendChild(element);

          element.click();

          document.body.removeChild(element);
        }
      );
    },
    exportColiCSV() {
      // colissimo export
      const coliFields = "Référence;;Raison sociale;Service;Prénom;Nom;Etage couloir escalier;Entrée bâtiment;N° et voie;Lieu dit;Code postal;Commune;Code ISO du pays;Téléphone fixe;Téléphone portable;Email;Code porte1 ;Code porte2;Interphone;Instructions de livraison;Nom commercial chargeur".split(
        ";"
      );

      const m = this.selection.map((s) => {
        const co = Object.fromEntries(coliFields.map((f) => [f, ""]));
        co["Référence"] = s.order_no;
        co["Prénom"] = s.firstname;
        co["Nom"] = s.lastname;
        co["Email"] = s.customer_email;
        co["Téléphone portable"] = s.customer_phone;
        co["N° et voie"] = s.street;
        co["Code postal"] = s.postcode;
        co["Commune"] = s.city;
        co["Code ISO du pays"] = s.country_id;
        return co;
      });
      if (!m.length) return;
      stringify(
        [Object.keys(m[0]), ...m.map((s) => Object.values(s))],
        {
          delimiter: ";",
        },
        function (err, output) {
          //eslint-disable-next-line
          console.log(output);
          if (err) {
            return alert(err);
          }
          var element = document.createElement("a");
          element.setAttribute(
            "href",
            "data:text/csv;charset=utf-8," + encodeURIComponent(output)
          );
          element.setAttribute("download", "colissimo.csv");

          element.style.display = "none";
          document.body.appendChild(element);

          element.click();

          document.body.removeChild(element);
        }
      );
    },
  },
};
</script>
