<template>
  <order-table ref="table" :fetchOrders="fetchOrders">
    <template v-slot:search>
      <b-form-select
        v-model="status"
        buttons
        :debounce="500"
        button-variant="info"
        :options="statusOptions"
        class="w-auto h-auto px-5"
        @change="reloadOrders"
      ></b-form-select>
    </template>
  </order-table>
</template>

<script>
//eslint-disable

import OrderTable from "./OrderTable.vue";
import client from "@/client";

export default {
  components: {
    OrderTable,
  },
  data() {
    return {
      status: "processing",
      statusOptions: [
        "pending",
        "processing",
        "canceled",
        "closed",
        "complete",
        "holded",
      ],
    };
  },
  methods: {
    async reloadOrders() {
      await this.$refs.table.reloadOrders();
    },
    async fetchOrders() {
      return await client.webshop.orders.list({ status: [this.status] });
    },
  },
};
</script>
<style>
.color {
  display: inline-block;
  width: 1em;
  height: 1em;
  outline: 1px solid black;
  margin-right: 1em;
}
</style>