<template>
  <div
    id="inventory-list"
    v-if="inventories"
  >
    <div class="d-flex justify-content-between">
      <span></span>
      <b-btn
        :to="{name: 'inventory', params: { inventory: 'new'}}"
        style="white-space:nowrap;"
        class="align-self-end"
        variant="primary"
      >
        Add inventory
      </b-btn>
    </div>
    <b-table
      style="min-width: 800px"
      striped
      class="inventories-table"
      small
      foot-clone
      :fields="fields"
      :items="items"
      @row-clicked="rowClicked"
    >
      <template #cell(comments)="row">
        <b-badge
          variant="danger"
          v-if="row.item.inventory_type==='special'"
        >Special</b-badge>
        {{row.value}}
      </template>
      <template #cell(date)="row">
        {{row.value | weekday}}
      </template>
      <template #cell(start_date)="row">
        {{row.value | weekday}}
      </template>
      <template #cell(actions)="row">

        <b-btn
          variant="info"
          size="sm"
          :to="{name:'inventory', params: {inventory: row.item.id}}"
        >Details</b-btn>
      </template>
    </b-table>

  </div>
</template>

<script>
import { READ_INVENTORIES } from "@/queries/inventories";

export default {
  data() {
    return {
      fields: [
        {
          key: "id",
          sortable: true,
        },
        {
          key: "date",
          sortable: true,
        },
        {
          key: "start_date",
          sortable: true,
        },
        {
          key: "comments",
        },
        {
          key: "actions",
        },
      ],
    };
  },
  computed: {
    items() {
      return this.inventories.map((r) => ({
        ...r,
        // eslint-disable-next-line
        _rowVariant: this.$route.params.inventory == r.id ? "success" : "",
      }));
    },
  },
  methods: {
    rowClicked(item, index, event) {
      event.target.closest("tr").querySelector(".btn").click();
    },
  },
  mounted() {},
  apollo: {
    inventories: {
      query: READ_INVENTORIES,
      fetchPolicy: "network-only"
    },
  },
  watch: {
    "$route.params.inventory"(i) {
      for (let item of this.items) {
        // eslint-disable-next-line
        if (i == item.id) {
          item._rowVariant = "success";
        } else if (item._rowVariant) {
          item._rowVariant = "";
        }
      }
    },
  },
};
</script>

<style>
#inventory-list {
  overflow-y: scroll !important;
}
.inventories-table thead tr:nth-child(1) th {
  background: white;
  position: sticky;
  top: 0;
}
.inventories-table td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 200px;
}
</style>
