<template>
  <doc-view
    id="inventory"
    :title="`Inventory ` + $options.filters.weekday(date)"
    :loading="!inventory.id && !inventory.new"
    :close-to="{name: 'inventories'}"
    :save="save"
    :history="inventory.id"
    :remove="inventory.id && remove"
    ref="docView"
  >
    <template slot="pre-title">
      <b-badge
        variant="danger"
        v-if="inventory && inventory.inventory_type==='special'"
      >Special</b-badge>

    </template>
    <div class="row">
      <b-form-group
        class="col required"
        label="Date"
      >
        <v-date-picker
          locale="fr"
          required
          @input="$refs.docView.change()"
          v-model="date"
          popoverVisibility="focus"
        >
          <template v-slot="{ inputValue, inputEvents }">
            <input class="form-control"
              :value="inputValue"
              v-on.native="inputEvents"
            />
          </template>
        </v-date-picker>
      </b-form-group>
    </div>

    <div class="row">
      <b-form-group
        class="col"
        label="Inventory type"
      >
        <b-form-radio-group v-model="inventory.inventory_type">
          <b-form-radio
            name="inventory_type"
            value="continuous"
          >Continuous</b-form-radio>
          <b-form-radio
            name="inventory_type"
            value="special"
          >Special</b-form-radio>
        </b-form-radio-group>
        <b-form-group
          label="Period start date"
          description="A start date must be set to define a range of dates for special inventories."
          v-if="inventory.inventory_type === 'special'"
        >

          <v-date-picker
            locale="fr"
            required
            @input="$refs.docView.change()"
            v-model="period_start"
            :input-props="{class:'form-control no-border'}"
            popoverVisibility="focus"
          >
            <template v-slot="{ inputValue, inputEvents }">
              <input class="form-control"
                :value="inputValue"
                v-on="inputEvents"
              />
            </template>
          </v-date-picker>
        </b-form-group>
      </b-form-group>

    </div>

    <div class="row">
      <b-form-group
        class="col"
        label="Comments"
      >
        <b-textarea
          rows="7"
          v-model="inventory.comments"
        />
      </b-form-group>

    </div>
  </doc-view>
</template>
<script>
import { mapGetters } from "vuex";
import DocView from "@/views/DocView";
import moment from "moment";
import _ from "lodash";
import {
  GET_INVENTORY,
  UPDATE_INVENTORY,
  DELETE_INVENTORY,
  CREATE_INVENTORY,
  READ_INVENTORIES,
} from "@/queries/inventories";
const inventoryfields = ["date", "period_start", "inventory_type", "comments"];

export default {
  data() {
    return {
      inventory: {},
      inventoryId: null,
    };
  },
  components: { DocView },
  computed: {
    ...mapGetters({
      inventories: "inventory/inventories",
    }),
    date: {
      get() {
        if (this.inventory.date) {
          var d = moment(this.inventory.date).toDate();
          return d;
        } else {
          return null;
        }
      },
      set(v) {
        this.inventory.date = moment(v).format("YYYY-MM-DD");
      },
    },
    period_start: {
      get() {
        if (this.inventory.period_start) {
          var d = moment(this.inventory.period_start).toDate();
          return d;
        } else {
          return null;
        }
      },
      set(v) {
        if (v) {
          this.inventory.period_start = moment(v).format("YYYY-MM-DD");
        } else {
          this.inventory.period_start = null;
        }
      },
    },
  },
  methods: {
    async load(p) {
      this.inventoryId = p;
      if (p === "new") {
        this.inventory = {
          date: new Date(),
          comments: null,
          period_start: null,
          inventory_type: "continuous",
        };
        this.inventory.new = true;
      } else {
        var {
          data: { inventory },
        } = await this.$apollo.query({
          query: GET_INVENTORY,
          fetchPolicy: "network-only",
          variables: {
            id: parseInt(p),
          },
        });
        this.inventory = inventory;
      }
    },
    async save() {
      if (this.inventory.new) {
        var {
          data: { createInventory: id },
        } = await this.$apollo.mutate({
          mutation: CREATE_INVENTORY,
          variables: {
            inventory: {
              ..._.pick(this.inventory, inventoryfields),
            },
          },
        });
      } else {
        await this.$apollo.mutate({
          mutation: UPDATE_INVENTORY,
          variables: {
            id: parseInt(this.inventory.id),
            version: parseInt(this.inventory.version),
            inventory: {
              ..._.pick(this.inventory, inventoryfields),
            },
          },
        });
        id = this.inventory.id;
      }

      this.changed = false;
      // eslint-disable-next-line
      if (this.inventory.id == this.$route.params.inventory) {
        await this.load(id);
      } else {
        this.$router.replace({
          name: "inventory",
          params: {
            inventory: id,
          },
        });
      }

      await this.$apollo.query({
        query: READ_INVENTORIES,
        fetchPolicy: "network-only",
      });
    },
    async remove() {
      await this.$apollo.mutate({
        mutation: DELETE_INVENTORY,
        variables: {
          id: this.inventory.id,
          version: this.inventory.version,
        },
      });
      await this.$apollo.query({
        query: READ_INVENTORIES,
        fetchPolicy: "network-only",
      });

      this.$router.push({
        name: "inventories",
      });
    },
  },
  mounted() {
    this.load(this.$route.params.inventory);
  },
};
</script>
<style>
.monaco-editor {
  min-height: 250px;
}
#inventory {
  min-width: 500px;
  flex-basis: 50vw !important;
}
</style>
