<script>
import { mapGetters } from "vuex";
import { READ_STOCKS } from "@/queries/stocks";
import apollo from "@/client/apollo";

export default {
  apollo: {
    stocks: {
      query: READ_STOCKS,
    },
  },
  computed: {
    stockId: {
      get() {
        return (
          this.$route.params.stock ??
          localStorage.getItem("expo-data-stock") ??
          1
        );
      },
      set(s) {
        var r = { ...this.$route };
        if (r.name === "stock-movement") {
          // we will collapse a view if it does not matches the stock
          r.name = "stock-movements";
        }
        r.params.stock = s;
        this.$router.push(r);
        localStorage.setItem("expo-data-stock", s);
      },
    },
  },
  methods: {
    stockChanged(v) {
      //var r = this.$route;
      //r.params.stock = v.value;
      //this.$router.push(r);
    },
  },
  watch: {},
  mounted() {},
};
</script>
<template>
  <div
    class="d-flex justify-content-between py-1"
    style="flex-shrink: 0"
  >
    <b-nav tabs>
      <b-nav-item
        :to="{ name: 'stock', params: { stock: stockId || 1 } }"
        :active="/^stocks?$/.test($route.name)"
      >
        Stocks
      </b-nav-item>
      <b-nav-item
        :to="{
          name: 'stock-items',
          params: { stock: stockId || 1 },
        }"
        :active="/^stock-item/.test($route.name)"
      >
        Stock items
      </b-nav-item>
      <b-nav-item
        :to="{
          name: 'stock-counts',
          params: { stock: stockId || 1 },
        }"
        :active="/^stock-count/.test($route.name)"
      >
        Stock counts
      </b-nav-item>
      <b-nav-item
        :to="{
          name: 'stock-movements',
          params: { stock: stockId || 1 },
        }"
        :active="/^stock-movement/.test($route.name)"
      >
        Stock movements
      </b-nav-item>
      <b-nav-item
        :to="{ name: 'inventories' }"
        :active="/^inventor/.test($route.name)"
      >Inventories</b-nav-item>
    </b-nav>
    <div class="d-flex">
      <label class="h-100 pr-2 pt-1">Stock:</label>
      <select
        style="max-width: 20em; height: 100%"
        class="form-control"
        v-model="stockId"
        v-if="stocks"
        @change.self="stockChanged"
      >
        <option
          v-for="s of stocks"
          :key="s.id"
          :value="s.id"
        >
          {{ s.name }}
        </option>
      </select>
    </div>
  </div>
</template>
