<script>
import DocView from "@/views/DocView";
import client from "@/client";
import moment from "moment";
import { dec } from "@/utils/decimals";
import {
  GET_STOCK_ITEM,
  UPDATE_STOCK_ITEM,
  GET_STOCK_WITH_ITEMS,
  REMOVE_STOCK_ITEMS,
  UPDATE_STOCK_ITEM_QUANTITIES,
} from "@/queries/stocks";
import { variantName, variantStyle, rest } from "@/utils/product-helper";
import _ from "lodash";
import { mapMutations } from "vuex";

export default {
  data() {
    return {
      stockItem: {},
      adjustmentComment: "",
      changedQuantities: new Set(),
    };
  },
  components: { DocView },
  computed: {},
  mounted() {},
  methods: {
    ...mapMutations({
      addMessage: "addMessage",
    }),
    variantName,
    variantStyle,
    rest,
    dec,
    async load() {
      const {
        data: { stockItem },
      } = await this.$apollo.query({
        query: GET_STOCK_ITEM,
        fetchPolicy: "network-only",
        variables: {
          id: parseInt(this.$route.params.stockItem),
        },
      });
      this.stockItem = _.cloneDeep(stockItem);
      this.stockItem.oldQuantity = this.stockItem.quantity;
      for (let v of this.stockItem.variants) {
        v.oldQuantity = v.quantity;
      }
      for (let v of this.stockItem.variants) {
        v.oldQuantity = v.quantity;
      }
      this.changedQuantities = new Set();
      this.adjustmentComment = "";
    },
    async update() {
      await this.$apollo.mutate({
        mutation: UPDATE_STOCK_ITEM,
        variables: {
          id: parseInt(this.stockItem.id),
          stockItem: {
            id: this.stockItem.id,
            notes: this.stockItem.notes,
            variants: this.stockItem.variants.map((v) => ({
              id: v.id,
              variant_id: v.variant_id,
              notes: v.notes,
            })),
          },
        },
      });
      if (this.changedQuantities.size)
        await this.$apollo.mutate({
          mutation: UPDATE_STOCK_ITEM_QUANTITIES,
          variables: {
            stock_item_id: parseInt(this.stockItem.id),
            stock_item_quantities: Array.from(this.changedQuantities).map(
              (cq) => ({
                variant_id: cq ? parseInt(cq) : null,
                quantity: cq
                  ? this.stockItem.variants.find((v) => v.variant.id === cq)
                      .quantity
                  : this.stockItem.quantity,
              })
            ),
            adjustmentComment: this.adjustmentComment,
          },
        });
      this.addMessage({
        level: "success",
        title: "Saved successfully",
        message: `The stock item '${this.stockItem.product?.name}' was saved successfully.`,
      });
      await this.load();
    },
    async save() {
      let hasChange = this.changedQuantities.size > 0;
      if (hasChange) {
        this.adjustmentComment = "";

        const modal = this.$refs["adjustmentCommentModal"];
        await modal.show();
        return true;
      } else {
        await this.update();
        return true;
      }
    },
    async remove() {
      await this.$apollo.mutate({
        mutation: REMOVE_STOCK_ITEMS,
        variables: {
          ids: [this.stockItem.id],
        },
      });
      await this.$apollo.query({
        query: GET_STOCK_WITH_ITEMS,
        fetchPolicy: "network-only",
        variables: {
          id: parseInt(this.$route.params.stock),
        },
      });
      this.$router.push({
        name: "stock-items",
        params: { stock: this.$route.params.stock },
      });
    },
    formatDate(d) {
      return moment(d).format("DD/MM/YYYY HH:mm:ss");
    },
    formatDateLong(d) {
      return moment(d).format("ddd, DD/MM/YYYY HH:mm:ss");
    },
    updateTotal() {
      this.stockItem.quantity = this.stockItem.variants.reduce(
        (a, b) => a + b.quantity,
        0
      );
    },
    cancelModal(e) {
      this.$refs.docView.change(e);
    },
    link(a) {
      if(a.operation.type === 'count' && a.operation.reference) {
        return {
          name : 'stock-count',
          params: {
            count: a.operation.reference.split('#')[1],
            stock: this.$route.params.stock
          }
        };
      } else if(a.operation.type === 'movement' && a.operation.reference) {
        return {
          name : 'stock-movement',
          params: {
            movement: a.operation.reference.split('#')[1],
            stock: this.$route.params.stock
          }
        };
      }
    }
  },
  watch: {
    "$route.params.stockItem": {
      immediate: true,
      async handler() {
        await this.load();
      },
    },
  },
};
</script>
<template>
  <doc-view
    v-if="stockItem"
    :close-to="{ name: 'stock-items' }"
    :loading="!stockItem"
    :save="save"
    :title="stockItem.product && stockItem.product.name"
    :remove="stockItem.id && remove"
    ref="docView"
  >
    <h4>Product</h4>
    <table v-if="stockItem.product" class="table table-sm">
      <tbody>
        <tr>
          <th>Name</th>
          <td :class="{ 'text-strikethrough': !stockItem.product.active }">
            {{ stockItem.product.name }}
          </td>
        </tr>
        <tr>
          <th>SKU</th>
          <td>{{ stockItem.product.sku }}</td>
        </tr>
        <tr>
          <th>Barcode</th>
          <td>{{ stockItem.product.barcode }}</td>
        </tr>
        <tr>
          <th>Criteria</th>
          <td>{{ stockItem.product.criteria }}</td>
        </tr>
        <tr>
          <th></th>
          <td>
            <router-link
              :to="{
                name: 'product',
                params: { product: stockItem.product.id },
              }"
            >
              <i class="mdi mdi-arrow-right-circle"></i> View product
            </router-link>
          </td>
        </tr>
      </tbody>
    </table>
    <h4>Quantity in stock</h4>

    <div class="row">
      <table class="table table-striped">
        <tbody>
          <tr v-for="v of stockItem.variants" :key="v.variant.id">
            <td class="text-right">
              <label :for="`quantity${v.variant.id}`">
                <div class="color-disp" :style="variantStyle(v.variant)"></div>
                <b>{{ variantName(v.variant) }}</b>
              </label>
            </td>
            <td>
              <b-input
                :id="`quantity${v.variant_id}`"
                type="number"
                step="any"
                min="0"
                @change="updateTotal"
                v-model.number="v.quantity"
                @input="changedQuantities.add(v.variant_id).add(null)"
              />
            </td>
          </tr>
        </tbody>
        <tfoot>
          <td class="text-right">Total</td>
          <td>
            <b-input
              type="number"
              step="any"
              min="0"
              :state="rest(stockItem) === 0"
              v-model.number="stockItem.quantity"
              @input="changedQuantities.add(null)"
            />
            <span class="text-danger" v-if="rest(stockItem) != 0"
              >The variant total is
              {{ stockItem.quantity - rest(stockItem) }}</span
            >
          </td>
        </tfoot>
      </table>
      <b-form-group class="col-12" label="Notes">
        <b-textarea v-model="stockItem.notes" />
      </b-form-group>
    </div>
    <template v-if="stockItem.adjustments && stockItem.adjustments.length">
      <h4>Adjustments</h4>
      <table class="table table-sm table-striped">
        <tbody>
          <tr v-for="a of stockItem.adjustments" :key="a.id">
            <td>{{ formatDateLong(a.operation.date) }}</td>
            <td>{{ a.operation.created_by }}</td>
            <td>
              <i
                v-if="a.operation.comment || a.comment"
                class="mdi mdi-comment-outline"
                title="Comment for this adjustment"
                v-b-popover.hover.bottom="(a.operation.comment || '') + (a.comment || '')"
              ></i>
              <router-link v-if="link(a)" :to="link(a)">
                {{ a.operation.type }}
              </router-link>
              <span v-else>{{a.operation.type}}</span>
            </td>
            <td>
              <div
                :style="a.variant && variantStyle(a.variant)"
                v-if="a.variant"
              >
                {{ variantName(a.variant, true) }}
              </div>
            </td>
            <td
              :class="{
                'text-danger': a.adjustment < 0,
                'text-success': a.adjustment > 0,
              }"
            >
              <b
                ><template v-if="a.adjustment > 0">+</template
                >{{ dec(a.adjustment) }}</b
              >
            </td>
            <td>{{ dec(a.old_quantity) }}</td>
            <td>{{ dec(a.new_quantity) }}</td>
          </tr>
        </tbody>
      </table>
    </template>
    <b-modal
      ref="adjustmentCommentModal"
      title="Quantity adjustment"
      @ok="update"
      @cancel="cancelModal"
    >
      <p>
        You changed the quantity of items in stock. Do you want to leave a
        comment explaining the reason for this change?
      </p>
      <p>
        In this case you may fill out the field below (or leave it empty if you
        don't wish to add a comment):
      </p>
      <table class="table table-sm table-striped w-100" v-if="stockItem">
        <template v-for="v of stockItem.variants">
          <tr v-if="changedQuantities.has(v.variant.id)" :key="v.id">
            <th :style="variantStyle(v.variant)">
              {{ variantName(v.variant) }}
            </th>
            <td>{{ v.oldQuantity }} ➟ {{ v.quantity }}</td>
          </tr>
        </template>
        <tr v-if="changedQuantities.has(null)">
          <th>Total</th>
          <td>{{ stockItem.oldQuantity }} ➟ {{ stockItem.quantity }}</td>
        </tr>
      </table>
      <b-textarea
        placeholder="Leave a comment, for example 'Manual count showed that there was a descreptancy' (optional)"
        v-model="adjustmentComment"
      />
    </b-modal>
  </doc-view>
</template>
