<template>
  <div class="d-flex flex-column">
    <div class=" bg-light p-1">
      <b-btn
        :to="{name: 'stock', params: { stock: 'new'}}"
        style="white-space:nowrap; float: right;"
        variant="primary"
      >
        Add stock
      </b-btn>
    </div>
    <b-list-group class="m-2">
      <b-list-group-item v-for="s of stocks" :variant="$route.params.stock == s.id ? 'success':''" :to="{name:'stock',params:{stock:s.id}}" :key="s.id">
        <h4>{{s.name}}</h4>
        {{s.description}}
        <br>
        <small class="text-muted">{{s.product_count}} item(s)</small>
      </b-list-group-item>
    </b-list-group>
  </div>
</template>
<script>
import { READ_STOCKS } from "@/queries/stocks";
export default {
  computed: {
  },
  apollo: {
    stocks: {
      query: READ_STOCKS,
      fetchPolicy: 'network-only'
    }
  },
  mounted () {
  }
};
</script>
