<script>
import moment from 'moment';
import {READ_STOCK_MOVEMENTS} from '@/queries/stocks';
export default {
  data () {
    return {
      columns: [
        {
          key: 'name'
        },
        {
          key: 'date',
          formatter: (v) => moment(v).format('DD/MM/YYYY')
        },
        {
          key: 'items'
        },
        {
          key: 'actions'
        }
      ]
    };
  },
  computed: {
  },
  apollo:{
    stockMovements: {
      query: READ_STOCK_MOVEMENTS,
      fetchPolicy: 'network-only',
      variables() {
        return {
          stock_id: parseInt(this.$route.params.stock)
        };
      }
    }
  },
  methods: {

    rowClass (r) {
      // eslint-disable-next-line
      return this.$route.params.movement == r.id ? "table-success" : "";
    },
    rowClicked (item, index, event) {
      if (!this.selectable) {
        event.target
          .closest('tr')
          .querySelector('.btn')
          .click();
      }
    }
  },
  watch: {
    stock: {
      immediate: true,
      handler () {
      }
    }
  }
};
</script>
<template>
  <div>
    <b-btn
      :to="{name: 'stock-movement', params: { stock: $route.params.stock, movement: 'new'}}"
      style="white-space:nowrap;"
      variant="primary"
    >
      Create stock movement
    </b-btn>
    <b-table
      :fields="columns"
      :items="stockMovements"
        :tbody-tr-class="rowClass"
        @row-clicked="rowClicked"
    >
        <template
          #cell(actions)="data"
        >

          <b-button
            size="sm" variant="info"
            :to="{name: 'stock-movement', params: {movement: data.item.id, stock: $route.params.stock}}"
          >
            Details
          </b-button>
        </template>
    </b-table>

  </div>
</template>
