<script>
import DocView from "@/views/DocView";
import ProductTable from "@/components/ProductTable.vue";
import _ from "lodash";
import {
  GET_STOCK_WITH_ITEMS,
  CREATE_STOCK_ITEMS,
  REMOVE_STOCK_ITEMS,
  GET_STOCK,
} from "@/queries/stocks";
import { READ_PRODUCTS } from "@/queries/products";
import { variantName, variantStyle, rest } from "@/utils/product-helper";
const stockItemFields = [
  {
    key: "number",
    sortable: true,
  },
  {
    key: "product.name",
    sortable: true,
    label: "Name",
  },
  {
    key: "product.barcode",
    sortable: true,
    label: "Barcode",
  },
  {
    key: "quantity",
    label: "Quantity in stock",
    sortable: true,
  },
  {
    key: "actions",
  },
];
export default {
  data() {
    return {
      stock: null,
      selectedProducts: [],
      selectedItems: [],
      modalShown: false,
      stockItemFields,
      changedItems: new Set(),
      currentPage: 1,
      perPage: 100,
      productSlotName: "cell(product.name)",
    };
  },
  components: { DocView, ProductTable },
  computed: {},
  apollo: {
    products: READ_PRODUCTS,
    selectedStock: {
      query: GET_STOCK,
      update: data => data.stock,
      variables() {
        return {
          id: parseInt(this.$route.params.stock)
        };
      },
      skip() {
        return !this.$route.params.stock;
      }
    },
    stock: {
      query: GET_STOCK_WITH_ITEMS,
      variables() {
        return {
          id: parseInt(this.$route.params.stock),
        };
      },
      skip() {
        return !this.$route.params.stock;
      }
    },
  },
  mounted() {},
  methods: {
    async load(s) {
      this.changedItems.clear();
      this.selectedItems = [];
      this.selectedProducts = [];
    },
    variantStyle,
    variantName,
    rowClass(s) {
      // eslint-disable-next-line
      if (s) {
        var classes = [];
        if (this.$route.params.stockItem == s.id) {
          classes.push("table-success");
        }
        if (!s.product.active) {
          classes.push("text-strikethrough");
        }
        return classes.join(" ");
      }
    },
    productSelected(products) {
      this.selectedProducts = products;
    },
    stockItemSelected(items) {
      this.selectedItems = items;
    },
    showModal() {
      this.$store.dispatch("product/reloadProducts");
      this.modalShown = true;
      this.selectedProducts = [];
    },
    hideModal() {
      this.modalShown = false;
    },
    async addStockItems() {
      await this.$apollo.mutate({
        mutation: CREATE_STOCK_ITEMS,
        variables: {
          stock_id: this.stock.id,
          product_ids: this.selectedProducts.map((p) => p.id),
        },
      });
      this.hideModal();
      await this.$apollo.query({
        query: GET_STOCK_WITH_ITEMS,
        fetchPolicy: "network-only",
        variables: {
          id: parseInt(this.$route.params.stock),
        },
      });
    },
    changed(item) {
      this.changedItems.add(parseInt(item.id));
    },
    rowClicked(item, index, event) {
      if (!this.selectable) {
        event.target.closest("tr").querySelector(".btn").click();
      }
    },
    rest,
    async removeItems() {
      if (
        confirm(
          `Are you sure you want to remove ${this.selectedItems.length} products from ${this.stock.name}?`
        )
      ) {
        await this.$apollo.mutate({
          mutation: REMOVE_STOCK_ITEMS,
          variables: {
            ids: this.selectedItems.map((p) => p.id),
          },
        });
        await this.$apollo.query({
          query: GET_STOCK_WITH_ITEMS,
          fetchPolicy: "network-only",
          variables: {
            id: parseInt(this.$route.params.stock),
          },
        });

        this.$router.push({
          name: "stock-items",
          params: { stock: this.$route.params.stock },
        });
      }
    },
  },
  watch: {
    "$route.params.stock": {
      immediate: true,
      async handler(s) {
        this.currentPage = 1;
        await this.load(s);
      },
    },
  },
};
</script>
<template>
  <doc-view
    v-if="stock"
    :loading="!stock"
    :title="`${stock.name} - Stock items`"
    :maximizable="false"
  >
    <div v-if="stock">
      <div class="d-flex justify-content-between align-items-center">
        <b-btn
          @click="showModal"
          variant="primary"
          size="sm"
        >Add product(s)</b-btn>

        <b-pagination
          class="m-0"
          size="sm"
          align="fill"
          :limit="50"
          v-model="currentPage"
          :total-rows="stock.items.length"
          :per-page="perPage"
          aria-controls="my-table"
        ></b-pagination>

        <b-btn
          variant="danger"
          class="float-right"
          size="sm"
          :disabled="!selectedItems.length"
          @click="removeItems"
        >Remove {{ selectedItems.length }} product(s) from stock</b-btn>
      </div>
      <b-table
        :fields="stockItemFields"
        :items="stock.items"
        class="keynav"
        selectable
        small
        :per-page="perPage"
        :current-page="currentPage"
        @row-selected="stockItemSelected"
        select-mode="range"
        :tbody-tr-class="rowClass"
        @row-clicked="rowClicked"
      >
        <template v-slot:[productSlotName]="data">
          {{data.item.product.name}}
          <template>
            <i
              v-if="data.item.notes"
              class="mdi mdi-comment-outline"
              title="Note"
              v-b-popover.hover.bottom="data.item.notes"
            ></i>
          </template>
        </template>
        <template #cell(number)="data">
          {{ data.item.product.number }}
          <router-link :to="{ name: 'product', params: { product: data.item.product.id } }">
            <i class="mdi mdi-arrow-right-circle"></i>
          </router-link>
        </template>
        <template #cell(quantity)="data">
          <ul class="list-inline">
            <li
              class="list-inline-item"
              v-for="v of data.item.variants"
              :key="v.variant.id"
              :style="variantStyle(v.variant)"
            >
              <template v-if="v.quantity > 0 || !v.name">
                <span>
                  {{ variantName(v.variant, true) }}:
                  {{v.quantity}}
                </span>
              </template>

            </li>
            <li>
              Total: <b>{{data.item.quantity}}</b>
              <b-badge
                variant="danger"
                v-if="rest(data.item)"
              >
                Rest: {{rest(data.item)}}
              </b-badge>
            </li>
          </ul>
        </template>
        <template #cell(actions)="data">
          <b-button
            size="sm"
            :to="{
              name: 'stock-item',
              params: {
                stockItem: data.item.id,
                stock: $route.params.stock,
              },
            }"
          >
            Details
          </b-button>
        </template>
      </b-table>
      <b-modal
        scrollable
        size="xl"
        id="addStockItemModal"
        v-model="modalShown"
        :title="`${selectedStock.name} - Add stock items`"
      >
        <product-table
          :selectable="true"
          :rowsSelected="productSelected"
          :products="products"
        />
        <template #modal-footer>
          <b-btn
            variant="secondary"
            @click="hideModal"
          >Cancel</b-btn>
          <b-btn
            variant="primary"
            :disabled="selectedProducts.length === 0"
            class="ml-2"
            @click="addStockItems"
          >Add {{ selectedProducts.length }} product(s)</b-btn>
        </template>
      </b-modal>
    </div>
  </doc-view>
</template>
