<script>
import DocView from "@/views/DocView";
import client from "@/client";
import {
  GET_STOCK,
  UPDATE_STOCK,
  CREATE_STOCK,
  DELETE_STOCK,
  READ_STOCKS,
} from "@/queries/stocks";

export default {
  data() {
    return {
      stock: null,
    };
  },
  components: { DocView },
  computed: {},
  mounted() {},
  methods: {
    async load(s) {
      if (s === "new") {
        this.stock = {
          id: null,
          name: null,
          description: null,
        };
      } else {
        const {
          data: { stock },
        } = await this.$apollo.query({
          query: GET_STOCK,
          fetchPolicy: "network-only",
          variables: {
            id: parseInt(s),
          },
        });
        this.stock = JSON.parse(JSON.stringify(stock));
      }
    },
    async save() {
      let stock = {
        name: this.stock.name,
        description: this.stock.description
      };

      if (this.stock.id) {
        await this.$apollo.mutate({
          mutation: UPDATE_STOCK,
          variables: {
            id: this.stock.id,
            version: this.stock.version,
            stock
          },
        });
        this.$apollo.query({
          query: READ_STOCKS,
          fetchPolicy: "network-only",
        });
        await this.load(this.stock.id);
        
      } else {
        const {
          data: { createStock },
        } = await this.$apollo.mutate({
          mutation: CREATE_STOCK,
          variables: {
            stock
          },
        });
        this.$router.replace({ name: "stock", params: { stock: createStock } });
        this.$apollo.query({
          query: READ_STOCKS,
          fetchPolicy: "network-only",
        });
      }
    },
    async remove() {
      await this.$apollo.mutate({
        mutation: DELETE_STOCK,
        variables: {
          id: this.stock.id,
          version: this.stock.version,
        },
      });
      this.$apollo.query({
        query: READ_STOCKS,
        fetchPolicy: "network-only",
      });
      this.$router.replace({ name: "stocks" });
    },
  },
  watch: {
    "$route.params.stock": {
      immediate: true,
      async handler(s) {
        await this.load(s);
      },
    },
  },
};
</script>
<template>
  <doc-view
    v-if="stock"
    :close-to="{name: 'stocks'}"
    :loading="!stock"
    :save="save"
    :title="stock.name"
    :remove="stock.id && remove"
  >
    <div class="row">
      <b-form-group
        class="col-12 required"
        label="Name"
      >
        <b-input
          required
          v-model="stock.name"
        />
      </b-form-group>
      <b-form-group
        class="col-12"
        label="Description"
      >
        <b-textarea v-model="stock.description" />
      </b-form-group>
    </div>

  </doc-view>
</template>
