<script>
import { mapGetters } from "vuex";
export default {
  computed: {
    ...mapGetters({
      groups: "groups",
      inventory: "inventory/currentInventory"
    })
  }
};
</script>

<template>
  <div class="d-flex flex-column no-scroll" v-if="inventory">
    <b-nav tabs type="primary" class="flex-fixed">
      <b-nav-item
        :active="$route.name === 'payment-journal'"
        :to="{name:'payment-journal',params: { inventory: inventory.id}}"
      >Daily pasteque sales</b-nav-item>
      <b-nav-item
        :active="$route.name === 'transaction-checker'"
        :to="{name:'transaction-checker'}"
        v-if="groups.has('webshop')"
      >
        <i class="mdi mdi-card-bulleted-outline"></i>
        Webshop Transaction checker
      </b-nav-item>
    </b-nav>
    <router-view class />
  </div>
</template>
