<script>
import DocView from "@/views/DocView";
import { mapGetters } from "vuex";
import {
  GET_SALES_JOURNAL,
  UPDATE_SALES_JOURNAL_ENTRIES,
} from "@/queries/salesJournals";
import _ from "lodash";

export default {
  components: { DocView },
  data() {
    return {
      journal: {},
      changed: false,
      dirty: new Set(),
      inventory: null,
    };
  },
  computed: {
    ...mapGetters({
      inventories: "inventory/inventories",
      currentInventory: "inventory/currentInventory",
    }),
  },
  async mounted() {
    await this.$store.dispatch("inventory/reloadInventories");
    this.inventory = this.$route.params.inventory;
    this.load();
  },
  methods: {
    async load() {
      this.dirty = new Set();
      if (this.inventory) {
        let {
          data: { salesJournal },
        } = await this.$apollo.query({
          query: GET_SALES_JOURNAL,
          variables: {
            code: "pasteque",
            inventory_id: parseInt(this.inventory),
          },
          fetchPolicy: "network-only",
        });
        this.journal = _.cloneDeep(salesJournal);
      }
    },
    async save() {
      if (this.dirty.size == 0) return;
      await this.$apollo.mutate({
        mutation: UPDATE_SALES_JOURNAL_ENTRIES,
        variables: {
          sales_journal_code: "pasteque",
          entries: Array.from(this.dirty).map((d) => ({
            date: d.date,
            amount: d.amount,
            method: d.method,
          })),
        },
      });
      await this.load(this.inventory);
    },
    amountChanged(e) {
      this.dirty.add(e);
      this.$refs.docView.change();
    },
    transfer(e, ev) {
      e.amount = e.pasteque_amount;
      this.amountChanged(e);
    },
    inventoryChanged(i) {
      this.$router.push({ name: "payment-journal", params: { inventory: i } });
    },
  },
};
</script>

<template>
  <doc-view
    id="sales-journal"
    :maximizable="false"
    :title="journal.name"
    :loading="!journal.name"
    :hasChange="dirty.size > 0"
    :save="save"
    :save-title="`Confirm ${dirty.size}`"
    ref="docView"
    @input="changed=true"
  >
    <template #actions>
      <b-select
        class="h-100"
        @change="inventoryChanged"
        :value="inventory"
      >
        <option
          v-for="i of inventories"
          :key="i.id"
          :value="i.id"
          :class="{'bg-danger text-white': i.inventory_type === 'special'}"
        >
          <b-badge
            variant="danger"
            v-if="i.inventory_type==='special'"
          >(Special)</b-badge>
          {{i.comments}} ({{i.start_date | weekday }} - {{i.date | weekday }})
        </option>
      </b-select>
    </template>
    <table class="table table-sm table-hover keynav sj-table">
      <thead>
        <th>Date</th>
        <th>Method</th>
        <th>Closed?</th>
        <th>Pasteque session</th>
        <th>Pasteque tickets</th>

        <th>Confirmed payments</th>
        <th>Difference</th>
      </thead>
      <tbody>
        <tr
          v-for="e of journal.entries"
          :class="e.method?'':'total'"
          :key="`${e.date}${e.method}`"
        >
          <td>
            <span v-if="e.date">{{e.date | weekday}}</span>
            <strong v-else>Grand-Total</strong>
          </td>
          <td>
            <span v-if="e.method">{{e.method}}</span>
            <strong v-else>Total</strong>
          </td>
          <td>
            <i
              class="mdi mdi-check-outline text-success"
              v-if="e.closed"
            ></i>
            <i
              class="mdi mdi-cross text-danger mdi-alert-decagram"
              v-if="!e.closed"
            ></i>
          </td>
          <td class="text-muted">{{e.pasteque_session_amount | cur}}</td>
          <td>{{e.pasteque_amount | cur}}</td>
          <td>
            <b-input-group
              v-if="e.method && e.date"
              append="€"
            >
              <b-input-group-prepend>
                <b-button
                  size="sm"
                  variant="success"
                  @click="transfer(e)"
                >
                  <i class="mdi mdi-transfer-right"></i>
                </b-button>
              </b-input-group-prepend>
              <decimal-input
                :class="{'bg-active': dirty.has(e)}"
                @keydown.t.prevent="transfer(e,$event)"
                @input="amountChanged(e)"
                mode="currency"
                v-model="e.amount"
              />
            </b-input-group>
            <span v-else>{{e.amount|cur}}</span>
          </td>
          <td :class="{'text-danger': e.diff<0, 'text-warning': e.diff>0, 'text-success': e.diff==0}">{{e.diff | cur}}</td>
        </tr>
      </tbody>
    </table>
  </doc-view>
</template>
<style>
.sj-table {
  max-width: 900px;
}
.sj-table tr.total td {
  padding-bottom: 30px;
}
.sj-table td,
.sj-table th {
  text-align: right;
}
.bg-active {
  background-color: #ffe6a3;
}
</style>
