<template>
  <doc-view :maximizable="false" title="Transaction checker">
    <b-form @submit.prevent="submit">
      <b-form-group
        label="Transaction data (CSV)"
        description="Copy+paste transaction data here, that you have received from the bank"
      >
        <b-textarea v-model="text" rows="10" />
      </b-form-group>
      <b-btn variant="primary" type="submit">Analyze</b-btn>
    </b-form>
    <b-table hover small v-if="data" :items="data">
      <template v-slot:cell(link)="data">
        <a
          :href="`${webshopOrdersUrl}/view/order_id/${data.item.link}/`"
          target="_blank"
        >{{data.item.link}}</a>
      </template>
    </b-table>
  </doc-view>
</template>

<script>
import client from "@/client";
import DocView from "@/views/DocView";
import Decimal from "decimal.js";
import moment from "moment";
import {GET_WEBSHOP_ORDERS_URL} from "@/queries/configurations";
const curFmt = new Intl.NumberFormat("fr-FR", {
  style: "decimal",
  minimumFractionDigits: 2
});
export default {
  components: { DocView },
  data() {
    return {
      text: null,
      data: null
    };
  },
  apollo: {
    webshopOrdersUrl: {
      query: GET_WEBSHOP_ORDERS_URL
    }
  },
  methods: {
    async submit() {
      const data = await client.accounting.analyzeTransactions(this.text);

      this.data = data.map(d => ({
        transactionId: d.TRANSACTION_ID,
        orderId: d.order.increment_id,
        link: d.order.entity_id,
        orderStatus: d.order.state,
        transactionAmount: curFmt.format(parseFloat(d.AMOUNT) / 100),
        transactionCurrency: d.CURRENCY_CODE,
        orderTotal:
          curFmt.format(d.order.grand_total) +
          " " +
          d.order.order_currency_code,
        orderPaid:
          curFmt.format(d.order.total_paid) +
          " " +
          d.order.order_currency_code,
        transactionDate: moment(
          `${d.PAYMENT_DATE}${d.PAYMENT_TIME}`,
          "YYYYMMDDHHmmss"
        ).format("DD/MM/YYYY HH:mm"),
        orderCreation: moment(d.order.created_at)
        .format("DD/MM/YYYY HH:mm"),
        transactionStatus: `cond:${d.TRANSACTION_CONDITION} code:${d.RESPONSE_CODE} status:${d.TRANSACTION_STATUS}`,
      }));
    }
  }
};
</script>

<style>
</style>