<template>
  <form
    @submit.prevent="submit"
    @change="change"
    @input="input"
    class="no-scroll d-flex flex-column docView"
  >
    <div
      class="
        toolbar
        text-white
        bg-dark
        flex-shrink-0
        d-flex
        justify-content-between
        text-nowrap
      "
      style="font-size: 18px"
    >
      <span>
        <b-btn v-if="closeTo" :to="closeTo" accesskey="c" size="sm">
          <strong>
            <i class="mdi mdi-close mdi-18px"></i>
          </strong>
        </b-btn>
        <template v-if="maximizable">
          <b-btn
            accesskey="m"
            size="sm"
            v-if="maximized"
            @click="setMaximized(false)"
          >
            <strong>
              <i class="mdi mdi-window-restore mdi-18px"></i>
            </strong>
          </b-btn>
          <b-btn v-else accesskey="m" @click="setMaximized(true)" size="sm">
            <strong>
              <i class="mdi mdi-window-maximize mdi-18px"></i>
            </strong>
          </b-btn>
        </template>
      </span>
      <div
        class="pt-1 pr-4 flex-grow-0"
        style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden"
      >
        <slot name="pre-title"></slot>
        &nbsp;
        <span v-if="!loading">{{ title }}</span>
      </div>
      <b-button-group size="sm">
        <slot name="actions"></slot>
        <b-btn
          v-if="history"
          :to="{ query: { history: true } }"
          :disabled="loading"
          variant="info"
          title="Show history"
        >
          <i class="mdi mdi-history mdi-18px"></i>
        </b-btn>
        <b-btn
          :disabled="loading || isLoading"
          variant="danger"
          v-if="!disabled && remove && groups.has('rw')"
          @click="askRemove"
          title="Delete"
        >
          <i class="mdi mdi-delete mdi-18px"></i>
        </b-btn>
        <b-btn
          :disabled="loading || isLoading"
          variant="success"
          v-if="print"
          @click="print"
          title="Print"
        >
          <i class="mdi mdi-printer mdi-18px"></i>
        </b-btn>
        <b-btn
          :disabled="cantSave"
          v-if="!disabled && save && groups.has('rw')"
          accesskey="s"
          type="submit"
          variant="primary"
          class="action-btn"
        >
          <i class="mdi mdi-content-save mdi-18px"></i>
          &nbsp; {{ saveTitle }}
        </b-btn>
      </b-button-group>
    </div>
    <fieldset
      v-if="!loading"
      :disabled="!groups.has('rw') || isLoading || disabled"
      class="scrollable"
    >
      <div class="container-fluid content p-2">
        <slot />
      </div>
    </fieldset>

    <div v-else>
      <b-spinner class="m-4" variant="primary" label="Spinning" />
    </div>
  </form>
</template>

<script>
import { mapMutations, mapGetters } from "vuex";
export default {
  props: {
    title: {},
    closeTo: {},
    save: {},
    remove: {},
    print: {},
    hasChange: {
      type: Boolean,
      default: false,
    },
    loading: {},
    saveTitle: {
      default: "Save",
    },
    history: {
      default: false,
    },
    maximizable: {
      default: true,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      changed: false,
    };
  },
  computed: {
    ...mapGetters({
      maximized: "maximized",
      groups: "groups",
      isLoading: "isLoading",
    }),
    cantSave() {
      return this.isLoading || this.loading || !this.docChanged;
    },
    docChanged() {
      return this.hasChange || this.changed;
    },
  },
  methods: {
    ...mapMutations({
      addMessage: "addMessage",
    }),
    setMaximized(v) {
      this.$store.commit("setMaximized", v);
    },
    async askRemove() {
      if (confirm(`Are you sure you want to delete '${this.title}'?`)) {
        await this.remove();
        this.addMessage({
          level: "warning",
          title: "Removed",
          message: `Your document '${this.title}' has been deleted.`,
        });
      }
    },
    async submit() {
      this.$emit("save");

      if (this.save) {
        try {
          let saveResult = await this.save();
          if (!saveResult) {
            this.addMessage({
              level: "success",
              title: "Saved successfully",
              message: `Your document '${this.title}' was saved successfully.`,
            });
          }
          this.changed = false;
        } catch (e) {
          throw e;
        }
      }
    },
    input(e) {
      this.changed = true;
      this.$emit("input", e);
    },
    change(e) {
      this.changed = true;
      this.$emit("change", e);
    },
  },
  watch: {
    title: {
      immediate: true,
      handler(t) {
        if (t) {
          document.title = `Expo data - ${t}`;
        }
      },
    },
  },
};
</script>
<style>
.docView .content {
  padding-bottom: 50vh !important;
}
.toolbar {
}

.action-btn {
  font-size: 18px !important;
  padding: 0.15rem 1rem !important;
}
</style>
