<template>
  <b-modal ref="modal" @hidden="clearRoute" size="xl" title="History">
    <b-table v-if="history" :items="history">
      <template #cell(date)="data">
        {{ data.item.date | fullweekdatetime }}
      </template>
    </b-table>
    <template #modal-footer class="w-100">
      <b-button
        size="lg"
        class="float-right"
        variant="primary"
        @click="$refs.modal.hide()"
        >Close</b-button
      >
    </template>
  </b-modal>
</template>

<script>
import gql from "graphql-tag";

export default {
  data: function () {
    return {
      history: null,
    };
  },
  methods: {
    async load() {
      this.history = null;
      var et, id;

      switch (this.$route.name) {
        case "product":
          et = "product";
          id = this.$route.params.product;
          break;
        case "receipt":
          et = "receipt";
          id = this.$route.params.receipt;
          break;
        case "inventory":
          et = "inventory";
          id = this.$route.params.inventory;
          break;
        case "report":
          et = "report";
          id = this.$route.params.report;
          break;
        default:
          throw new Error("Unknown entity ");
      }

      const {
        data: { historyChanges },
      } = await this.$apollo.query({
        query: gql`
          query($entity: String!, $id: String!) {
            historyChanges(entity: $entity, id: $id) {
              date
              user
              changed_fields
              changed_objects
            }
          }
        `,
        variables: {
          id,
          entity: et,
        },
        fetchPolicy: "network-only",
      });
      this.history = historyChanges;
    },
    toggle() {
      var v = this.$route.query.history;
      this.$nextTick(() => {
        var modal = this.$refs.modal;
        if (v) {
          modal.show();
          this.load();
        } else {
          modal.hide();
        }
      });
    },
    clearRoute() {
      this.$router.push({
        ...this.$route,
        query: {
          ...this.$route.query,
          history: undefined,
        },
      });
    },
  },
  watch: {
    "$route.query.history": {
      immediate: true,
      handler() {
        this.toggle();
      },
    },
  },
};
</script>
<style>
.history-modal {
  width: 85vw !important;
}
</style>
