<template>
  <b-card class="home">
    <h3>Journal des modifications</h3>
    <dl>
      <dt>07/01/2020 (frederick)</dt>
      <dd>Inventaires speciaux, Selection des inventaires dans les rapports</dd>
    </dl>
    <dl>
      <dt>06/01/2020 (frederick)</dt>
      <dd>Graphique quotidien des tickets supprimé. Les totaux peuvent maintenant être trouvés dans le calendrier.</dd>
    </dl>
  </b-card>
</template>

<script>
export default {
  name: "home",
  components: {}
};
</script>
