<template>
  <doc-view
    id="receipt"
    :loading="!receipt.number"
    :close-to="{ name: 'receipts' }"
    :title="`Receipt ${receipt.number}${!receipt.id ? ' (NEW)' : ''}`"
    :save="submit"
    :remove="remove"
    :print="print"
    :history="receipt.id"
    @change="changed = true"
    v-if="receipt"
  >
    <p>
      <router-link
        :to="{ name: 'ticket', params: { ticket: receipt.ticket_id } }"
        v-if="receipt.ticket"
      >
        Ticket #{{ receipt.ticket.number }}:
        <strong>{{ receipt.ticket.cash_register }} &middot; {{ dateF }} &middot;
          {{ receipt.ticket.total | cur }} &middot;
          {{ receipt.ticket.items }} item(s)</strong>

        ({{paymentMode}})
      </router-link>
    </p>
    <div class="row">
      <b-form-group
        class="col-4 required"
        label="Number"
      >
        <b-input
          v-model="receipt.number"
          required
        />
      </b-form-group>
      <b-form-group
        class="col-8 required"
        label="Date"
      >
        <b-input
          type="date"
          v-model="receipt.date"
          required
        />
      </b-form-group>
    </div>
    <div class="row">
      <b-form-group
        class="col-5"
        label="Payment details"
      >
        <b-textarea
          rows="2"
          v-model="receipt.payment_details"
        />
      </b-form-group>

      <b-form-group
        class="col-7"
        label="Note"
      >
        <b-textarea
          rows="2"
          v-model="receipt.note"
        />
      </b-form-group>
    </div>
    <section v-if="receipt.customer">
      <h4>Customer</h4>
      <div class="row">
        <b-form-group
          class="col-5 required"
          label="First name"
        >
          <b-input
            v-model="receipt.customer.firstname"
            required
          />
        </b-form-group>
        <b-form-group
          class="col-7 required"
          label="Last name"
        >
          <b-input
            v-model="receipt.customer.lastname"
            required
          />
        </b-form-group>
      </div>

      <div class="row">
        <b-form-group
          class="col-8"
          label="Address"
        >
          <b-textarea
            v-model="receipt.customer.address"
            maxlength="512"
            rows="3"
          />
        </b-form-group>
      </div>
      <div class="row">
        <b-form-group
          class="col-4"
          label="Zip"
        >
          <b-input v-model="receipt.customer.zipcode" />
        </b-form-group>
        <b-form-group
          class="col-8"
          label="City"
        >
          <b-input v-model="receipt.customer.city" />
        </b-form-group>
      </div>

      <div class="row">
        <b-form-group
          class="col-7 required"
          label="Country"
        >
          <b-input
            required
            list="country"
            v-model="receipt.customer.country"
          />
        </b-form-group>
        <b-form-group
          class="col-5"
          label="Region"
        >
          <b-input v-model="receipt.customer.region" />
        </b-form-group>
      </div>
      <div class="row">
        <b-form-group
          class="col-7"
          label="E-Mail"
        >
          <b-input
            v-model="receipt.customer.email"
            type="email"
          />
        </b-form-group>
        <b-form-group
          class="col-5"
          label="Fax"
        >
          <b-input v-model="receipt.customer.fax" />
        </b-form-group>
      </div>
      <div class="row">
        <b-form-group
          class="col-6"
          label="Phone 1"
        >
          <b-input v-model="receipt.customer.phone1" />
        </b-form-group>
        <b-form-group
          class="col-6"
          label="Phone 2"
        >
          <b-input v-model="receipt.customer.phone2" />
        </b-form-group>
      </div>
    </section>
  </doc-view>
</template>
<script>
// import { mapGetters } from 'vuex'
import moment from "moment";
import { renderReceipt, createReceipt } from "@/utils/pdf-helpers";
import DocView from "@/views/DocView";
import { GET_TICKET } from "@/queries/tickets";
import { GET_RECEIPT, READ_RECEIPTS } from "@/queries/receipts";
import {
  READ_PAYMENT_METHODS,
  GET_CONFIGURATION_SETTINGS,
} from "@/queries/configurations";
import _ from "lodash";
import gql from "graphql-tag";

const customerfields = [
  "firstname",
  "lastname",
  "email",
  "phone1",
  "phone2",
  "fax",
  "address",
  "zipcode",
  "city",
  "region",
  "country",
  "note",
];
const receiptfields = [
  "ticket_id",
  "note",
  "number",
  "date",
  "ticket",
  "payment_details",
];

export default {
  data() {
    return {
      receipt: {},
      changed: false,
    };
  },
  components: { DocView },
  computed: {
    dateF() {
      return moment(this.receipt.ticket.date)
        .local()
        .format("dd, DD/MM/YYYY HH:mm");
    },
    paymentMode() {
      if (!this.receipt?.ticket) {
        return null;
      }
      return (
        this.paymentMethods?.find(
          (pm) => pm.pasteque_reference === this.receipt.ticket.payment_mode
        )?.display_name ||
        this.receipt.ticket.payment_mode_label ||
        this.receipt.ticket.payment_mode
      );
    },
  },
  apollo: {
    paymentMethods: {
      query: READ_PAYMENT_METHODS,
    },
  },
  methods: {
    async print() {
      if (this.changed) {
        alert("Please save the receipt before printing");
      } else {
        const {
          data: { configurationSettings },
        } = await this.$apollo.query({
          query: GET_CONFIGURATION_SETTINGS,
          variables: {
            keys: ["ticket.header", "ticket.location"],
          },
          fetchPolicy: "network-only",
        });
        renderReceipt(this.receipt, {
          paymentMode: this.paymentMode,
          header: configurationSettings.find((s) => s.key === "ticket.header")
            ?.value,
          location: configurationSettings.find((s) => s.key === "ticket.location")
            ?.value,
        });
      }
    },
    async remove() {
      const r = this.receipt;
      await this.$apollo.mutate({
        mutation: gql`
          mutation deleteReceipt($id: Int!, $version: Int!) {
            deleteReceipt(id: $id, version: $version)
          }
        `,
        variables: {
          id: r.id,
          version: r.version,
        },
      });
      this.$router.push({
        name: "receipts",
      });

      await this.$apollo.query({
        query: READ_RECEIPTS,
        fetchPolicy: "network-only",
      });
      this.changed = false;
    },
    async load(r) {
      this.changed = false;
      if (r === "new") {
        let ticket_id = parseInt(this.$route.query.ticket);

        let receipt = createReceipt();
        const {
          data: { ticket: ticket },
        } = await this.$apollo.query({
          query: GET_TICKET,
          variables: {
            id: parseInt(ticket_id),
          },
          fetchPolicy: "network-only",
        });
        receipt.ticket = ticket.rawTicket;
        receipt.date = moment(receipt.ticket.date).format("YYYY-MM-DD");
        receipt.ticket_id = ticket_id;
        receipt.number = `TI-${
          /[0-9]+/.exec(receipt.ticket.cash_register)[0]
        }-${receipt.ticket.number}`;
        this.receipt = receipt;
      } else {
        let {
          data: { receipt },
        } = await this.$apollo.query({
          query: GET_RECEIPT,
          variables: {
            id: parseInt(r),
          },
          fetchPolicy: "network-only",
        });
        // eslint-disable-next-line
        if (!receipt || this.$route.params.receipt != receipt.id) {
          return;
        }
        this.receipt = _.cloneDeep(receipt);

        this.receipt.date = new moment(receipt.date).format("YYYY-MM-DD");
      }
    },
    async submit() {
      const r = _.pick(this.receipt, ["id", "version", ...receiptfields]);
      r.customer = _.pick(this.receipt.customer, [
        "id",
        "version",
        ...customerfields,
      ]);
      if (r.id) {
        const {
          data: { updateReceipt: id },
        } = await this.$apollo.mutate({
          mutation: gql`
            mutation updateReceipt(
              $id: Int!
              $version: Int!
              $receipt: ReceiptInput!
            ) {
              updateReceipt(id: $id, version: $version, receipt: $receipt)
            }
          `,
          variables: {
            receipt: r,
            id: r.id,
            version: r.version,
          },
        });
        await this.load(id);
      } else {
        const {
          data: { createReceipt: id },
        } = await this.$apollo.mutate({
          mutation: gql`
            mutation createReceipt($receipt: ReceiptInput!) {
              createReceipt(receipt: $receipt)
            }
          `,
          variables: {
            receipt: r,
          },
        });
        this.$router.push({
          name: "receipt",
          params: {
            receipt: id,
          },
        });
      }
      await this.$apollo.query({
        query: READ_RECEIPTS,
        fetchPolicy: "network-only",
      });
      this.changed = false;
    },
  },
  watch: {
    "$route.params.receipt": {
      async handler(r) {
        await this.load(r);
      },
      immediate: true,
    },
  },
};
</script>
<style>
#receipt {
  flex: 1 1 35em;
  overflow-x: hidden !important;
}
</style>
