<template>
  <div v-if="receipts" id="receipts">
    <b-table
      small
      hover
      v-if="items"
      :items="items"
      :fields="fields"
      @row-clicked="rowClicked"
    >
      <template #cell(actions)="row">
        <!-- We use click.stop here to prevent a 'row-clicked' event from also happening -->
        <b-btn
          variant="info"
          size="sm"
          :to="{ name: 'receipt', params: { receipt: row.item.id } }"
          >Details</b-btn
        >
      </template>
    </b-table>
  </div>
</template>
<script>
import moment from "moment";
import {READ_RECEIPTS} from "@/queries/receipts";

var formatter = new Intl.NumberFormat("fr-FR", {
  style: "currency",
  currency: "EUR",
  minimumFractionDigits: 2,
});
var fields = [
  {
    key: "number",
    sortable: true,
  },
  {
    key: "date",
    formatter(d) {
      return moment(d).local().format("dd, DD/MM/YYYY");
    },
    sortable: true,
  },
  {
    key: "customerName",
    sortable: true
  },
  {
    key: "total",
    sortable: true,
    formatter(d) {
      return formatter.format(d);
    },
  },

  { key: "actions", label: "Actions" },
];

export default {
  data() {
    return {
      fields,
    };
  },
  computed: {
    items() {
      return this.receipts.map((r) => ({
        ...r,
        customerName: `${r.customer?.firstname} ${r.customer?.lastname}`,
        // eslint-disable-next-line
        _rowVariant: this.$route.params.receipt == r.id ? "success" : "",
      }));
    },
  },
  apollo: {
    receipts: {
      query: READ_RECEIPTS,
      fetchPolicy: 'network-only',
    },
  },
  methods: {
    async load() {},
    rowClicked(item, index, event) {
      event.target.closest("tr").querySelector(".btn").click();
    },
  },
  async mounted() {
    await this.load();
  },
  watch: {
    "$route.params.receipt"(i) {
      for (let item of this.items) {
        // eslint-disable-next-line
        if (i == item.id) {
          item._rowVariant = "success";
        } else if (item._rowVariant) {
          item._rowVariant = "";
        }
      }
    },
  },
};
</script>
<style>
#receipts .table thead tr:nth-child(1) th {
  background: white;
  position: sticky;
  top: 0;
}
</style>
