<template>
  <doc-view
    id="run-report"
    :title="report.name"
    :loading="output === null"
    :close-to="{ name: 'reports' }"
  >
    <template #actions v-if="report.id">
      <b-btn
        size="sm"
        :to="{ name: 'report', params: { report: report.id } }"
        variant="warning"
        title="Edit this report"
      >
        <i class="mdi mdi-pencil mdi-18px"></i>
      </b-btn>
      <form
        :action="`${baseURL}/reports/${report.id}/run?mode=csv&date=${todayFmt}&inventory=${inventoryId}`"
        target="_blank"
        method="POST"
      >
        <b-btn variant="info" title="Download as CSV" type="submit" size="sm">
          <i class="mdi mdi-file-excel mdi-18px"></i>
        </b-btn>
        <input type="hidden" name="Authorization" :value="Authorization" />
      </form>
      <form
        :action="`${baseURL}/reports/${report.id}/run?mode=html&date=${todayFmt}&inventory=${inventoryId}`"
        target="_blank"
        method="POST"
      >
        <b-btn variant="info" title="View as HTML" type="submit" size="sm">
          <i class="mdi mdi-language-html5 mdi-18px"></i>
        </b-btn>
        <input type="hidden" name="Authorization" :value="Authorization" />
      </form>
      <form
        :action="`${baseURL}/reports/${report.id}/run?mode=pdf&date=${todayFmt}&inventory=${inventoryId}`"
        target="_blank"
        method="POST"
      >
        <b-btn variant="info" title="Download as PDF" type="submit" size="sm">
          <i class="mdi mdi-file-pdf mdi-18px"></i>
        </b-btn>
        <input type="hidden" name="Authorization" :value="Authorization" />
      </form>
    </template>
    <div v-html="output"></div>
  </doc-view>
</template>
<script>
import client from "@/client";
import DocView from "@/views/DocView";
import { mapGetters } from "vuex";
import moment from "moment";
export default {
  data() {
    return {
      report: {},
      output: null,
      baseURL: client.baseURL,
      Authorization: client.fetchAPI.config.token,
    };
  },
  components: { DocView },
  computed: {
    ...mapGetters({
      today: "inventory/today",
      inventory: "inventory/inventory",
    }),
    todayFmt() {
      return moment(this.today).format("YYYY-MM-DD");
    },
    inventoryId() {
      return this.inventory && this.inventory.id;
    },
  },
  methods: {
    async load(p) {
      this.reportId = p;
      try {
        if (!this.inventoryId) return;
        var { output, report } = await client.reports.run(
          p,
          this.todayFmt,
          this.inventoryId
        );

        this.output = output;
        this.report = report;
      } catch (e) {
        if (e.json) {
          this.output = `<b class="text-danger">Error: ${e.json.message}<br>${e.json.error_message}<br><pre>${e.json.stack}</pre>`;
        }
      }
    },
  },
  mounted() {
    this.load(this.$route.params.report);
  },
  watch: {
    today() {
      this.load(this.$route.params.report);
    },

    inventory() {
      this.load(this.$route.params.report);
    },
  },
};
</script>
<style>
.monaco-editor {
  min-height: 250px;
}
#run-report {
  min-width: 500px;
  flex-basis: 50vw !important;
}
</style>
