<template>
  <div
    id="report-list"
    v-if="reports"
  >
    <div class="d-flex justify-content-between">
      <span></span>
      <div class="text-nowrap form-inline">
        <label class="pl-3">
          <b>Date</b>
          <v-date-picker
            locale="fr"
            class="ml-3"
            id="report-date-picker"
            popoverVisibility="focus"
            v-model="today"
            @input.self="checkDates('date',$event)"
            :attributes="attributes"
            :input-props="{class:'form-control no-border'}"
          >
            <template v-slot="{ inputValue, inputEvents }">
              <input class="form-control"
                :value="inputValue"
                v-on="inputEvents"
              />
            </template>
          </v-date-picker>
        </label>
        <label class="pl-3">
          <b>Inventory</b>
          <b-select
            class="ml-3"
            style="max-width: 15em;"
            v-model="inventory"
            @change.self="checkDates('inventory',$event)"
          >
            <option
              v-for="i of inventories"
              :key="i.id"
              :value="i"
              :class="{'bg-danger text-white': i.inventory_type === 'special'}"
            >
              <b-badge
                variant="danger"
                v-if="i.inventory_type==='special'"
              >(Special)</b-badge>
              {{i.comments}} ({{i.start_date | weekday }} - {{i.date | weekday }})
            </option>
          </b-select>
        </label>
      </div>
      <b-btn
        :to="{name: 'report', params: { report: 'new'}}"
        style="white-space:nowrap;"
        class="align-self-end"
        variant="primary"
      >Add report</b-btn>
    </div>
    <b-table
      style="min-width: 800px"
      striped
      class="reports-table"
      small
      foot-clone
      :fields="fields"
      :items="items"
      @row-clicked="rowClicked"
    >
      <template #cell(actions)="row">
        <!-- We use click.stop here to prevent a 'row-clicked' event from also happening -->
        <b-btn
          variant="success"
          size="sm"
          :to="{name:'report-run', params: {report: row.item.id}}"
        >Run</b-btn>&nbsp;
        <b-btn
          variant="warning"
          size="sm"
          :to="{name:'report', params: {report: row.item.id}}"
        >Edit</b-btn>
      </template>
    </b-table>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import moment from "moment";
import { READ_REPORTS } from "@/queries/reports";
import * as gclient from "@/queries/client";

const df = new Intl.DateTimeFormat("fr-FR", {
  weekday: "long",
  year: "numeric",
  month: "numeric",
  day: "numeric",
});
export default {
  apollo: {
    reports: {
      query: READ_REPORTS,
      fetchPolicy: "network-only",
    },
  },
  data() {
    return {
      checking: false,
      fields: [
        {
          key: "id",
          sortable: true,
        },
        {
          key: "name",
          sortable: true,
        },
        {
          key: "description",
          sortable: true,
        },
        {
          key: "actions",
        },
      ],
    };
  },
  computed: {
    ...mapGetters({
      inventories: "inventory/inventories",
      todaysInventory: "inventory/todaysInventory",
      inventoryRange: "inventory/inventoryRange",
    }),
    today: {
      get() {
        return this.$store.getters["inventory/today"];
      },
      set(t) {
        this.$store.dispatch("inventory/setToday", new Date(t));
      },
    },
    inventory: {
      get() {
        return this.$store.getters["inventory/inventory"];
      },
      set(inventory) {
        this.$store.dispatch("inventory/setInventory", inventory);
      },
    },

    attributes() {
      return [
        ...this.inventories
          .filter((i) => i.inventory_type === "continuous")
          .map((i) => ({
            highlight: {
              style: {
                backgroundColor: "#9f80ff", // Purple background
                borderColor: "#8c66ff",
                borderWidth: "2px",
              },
            },
            popover: {
              label: `Inventory ${i.comments}, ${df.format(new Date(i.date))}`,
            },
            contentStyle: {
              color: "white", // White text
            },
            dates: [i.date],
          })),
        this.inventoryRange && {
          highlight: {
            style: {
              backgroundColor: "#ff8080",
              borderColor: "#ff6666",
              borderWidth: "2px",
              borderStyle: "solid",
            },
          },
          contentStyle: {
            color: "white",
          },
          dates: [
            {
              start: this.inventoryRange && this.inventoryRange[0],
              end: this.inventoryRange && this.inventoryRange[1],
            },
          ],
        },
        {
          dot: {
            backgroundColor: "#4d4dff",
          },
          dates: new Date(),
        },
      ];
    },
    items() {
      return this.reports.map((r) => ({
        ...r,
        // eslint-disable-next-line
        _rowVariant: this.$route.params.report == r.id ? "success" : "",
      }));
    },
  },
  methods: {
    rowClicked(item, index, event) {
      event.target.closest("tr").querySelector(".btn").click();
    },
    checkDates(type, ev) {
      return;
      //eslint-disable-next-line
      if (type === "inventory" && this.inventory) {
        this.$store.commit(
          "inventory/setToday",
          moment(this.inventory.date).startOf("day").toDate()
        );
      } else if (type === "date" && this.today) {
        this.$store.commit("inventory/setInventory", this.todaysInventory);
      }
    },
  },
  mounted() {},

  watch: {
    "$route.params.report"(i) {
      for (let item of this.items) {
        // eslint-disable-next-line
        if (i == item.id) {
          item._rowVariant = "success";
        } else if (item._rowVariant) {
          item._rowVariant = "";
        }
      }
    },
  },
};
</script>

<style>
#report-list {
  overflow-y: scroll !important;
}
.reports-table thead tr:nth-child(1) th {
  background: white;
  position: sticky;
  top: 0;
}
.reports-table td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 200px;
}
</style>
