<template>
  <doc-view
    id="report"
    :title="report.name"
    :loading="!report.id && !report.new"
    :close-to="{name: 'reports'}"
    :save="save"
    :remove="report.id && remove"
    :history="report.id"
    @input="changed = true"
  >
    <template
      #actions
      v-if="report.id"
    >
      <b-btn
        :disabled="changed"
        :to="{name:'report-run', params: {report: report.id}}"
        variant="success"
        title="Run this report"
        accesskey="r"
      >
        <i class="mdi mdi-run mdi-18px"></i>
      </b-btn>
    </template>

    <div class="row">
      <b-form-group
        class="col required"
        label="Name"
      >
        <b-input
          required
          v-model="report.name"
        />
      </b-form-group>
    </div>
    <div class="row">
      <b-form-group
        class="col"
        label="Description"
      >
        <b-textarea v-model="report.description" />
      </b-form-group>
    </div>
    <div class="row">
      <b-form-group
        class="col"
        label="SQL"
      >
        <div
          class="monaco-editor"
          id="sql"
        ></div>
      </b-form-group>
    </div>

    <div class="row">
      <b-form-group
        class="col"
        label="Template"
      >
        <div
          class="monaco-editor"
          id="template"
        ></div>
      </b-form-group>
    </div>
  </doc-view>
</template>
<script>
import { mapGetters } from "vuex";
import DocView from "@/views/DocView";
import * as rquery from "@/queries/reports";
import _ from "lodash";
const reportfields = ["name", "description", "datepicker", "sql", "template"];

export default {
  data() {
    return {
      report: {},
      reportId: null,
      changed: false,
    };
  },
  components: { DocView },
  computed: {},
  methods: {
    async load(p) {
      this.changed = false;
      this.reportId = p;
      if (p === "new") {
        this.report = {
          name: null,
          description: null,
          datepicker: null,
          sql: null,
          template: null,
        };
        this.report.new = true;
      } else {
        var {
          data: { report },
        } = await this.$apollo.query({
          query: rquery.GET_REPORT,
          variables: {
            id: p,
          },
          fetchPolicy: "network-only",
        });
        // eslint-disable-next-line
        if (report.id == this.reportId) {
          this.report = _.cloneDeep(report);
        }
      }
      this.$nextTick(() => this.createEditors());
    },
    createEditors() {
      // const monaco = {}
      return import(/* webpackChunkName: "monaco" */ "monaco-editor").then(
        (monaco) => {
          var esql = monaco.editor.create(document.getElementById("sql"), {
            language: "pgsql",
            value: this.report.sql,
            fontSize: 12,
            automaticLayout: true,
          });
          esql.onDidChangeModelContent(() => {
            this.report.sql = esql.getValue();
          });
          monaco.languages.registerCompletionItemProvider("pgsql", {
            provideCompletionItems: function (model, position) {},
          });
          var ehtml = monaco.editor.create(
            document.getElementById("template"),
            {
              language: "html",
              value: this.report.template,
              fontSize: 12,
              automaticLayout: true,
            }
          );
          ehtml.onDidChangeModelContent(() => {
            this.report.template = ehtml.getValue();
          });
        }
      );
    },
    async remove() {
      await this.$apollo.mutate({
        mutation: rquery.DELETE_REPORT,
        variables: {
          id: this.reportId,
          version: this.report.version,
        },
      });
      this.$router.push({
        name: "reports",
      });

      this.$apollo.query({
        query: rquery.READ_REPORTS,
        fetchPolicy: "network-only",
      });
    },
    async save() {
      let report = _.pick(this.report, reportfields);
      if (!this.report.new) {
        var {
          data: { updateReport: p },
        } = await this.$apollo.mutate({
          mutation: rquery.UPDATE_REPORT,
          variables: {
            id: this.reportId,
            version: this.report.version,
            report,
          },
        });
      } else {
        var {
          data: { createReport: p },
        } = await this.$apollo.mutate({
          mutation: rquery.CREATE_REPORT,
          variables: {
            report,
          },
        });
      }
      this.$apollo.query({
        query: rquery.READ_REPORTS,
        fetchPolicy: "network-only",
      });
      this.changed = false;
      // eslint-disable-next-line
      if (this.report.number == this.$route.params.report) {
        await this.load(p);
      } else {
        this.$router.replace({
          name: "report",
          params: {
            report: p,
          },
        });
      }
    },
  },
  mounted() {
    this.load(this.$route.params.report);
  },
};
</script>
<style>
.monaco-editor {
  min-height: 250px;
}
#report {
  min-width: 500px;
  flex-basis: 50vw !important;
}
</style>
