<template>
  <div v-if="tickets" id="tickets" class="container-fluid">
    <div class="row">
      <v-date-picker
        locale="fr"
        class="col"
        @input="dateChanged"
        v-model="date"
        @update:from-page="calendarTransition"
        :attributes="calendarAttributes"
        popoverVisibility="focus"
      >
        <template v-slot="{ inputValue, inputEvents }">
          <input class="form-control" :value="inputValue" v-on="inputEvents" />
        </template>
      </v-date-picker>
      <b-select class="col" v-model="cash_register">
        <option :value="null">All</option>
        <option :value="c" v-for="c of cashRegisters" :key="c">{{ c }}</option>
      </b-select>
    </div>
    <b-table
      small
      hover
      :items="items"
      :fields="fields"
      :tbody-tr-class="rowClass"
      primary-key="id"
      @row-clicked="rowClicked"
      :per-page="perPage"
      :current-page="currentPage"
    >
      <template #cell(actions)="row">
        <!-- We use click.stop here to prevent a 'row-clicked' event from also happening -->
        <b-btn
          variant="info"
          size="sm"
          :to="{ name: 'ticket', params: { ticket: row.item.id } }"
          >Details</b-btn
        >
      </template>
    </b-table>

    <b-pagination
      v-model="currentPage"
      :total-rows="items.length"
      :per-page="perPage"
      align="center"
    ></b-pagination>
  </div>
</template>
<script>
import moment from "moment";

import { bb } from "billboard.js";
import { mapGetters } from "vuex";
import { READ_TICKETS, GET_TICKET_STATS } from "@/queries/tickets";

var formatter = new Intl.NumberFormat("fr-FR", {
  style: "currency",
  currency: "EUR",
  minimumFractionDigits: 2,
});

function themeColor(c) {
  if (c < 100) {
    return "gray";
  } else if (c < 250) {
    return "green";
  } else if (c < 500) {
    return "yellow";
  } else if (c < 1000) {
    return "orange";
  } else {
    return "red";
  }
}

var fields = [
  {
    key: "cash_register",
    sortable: true,
  },
  {
    key: "number",
    sortable: true,
  },
  {
    key: "date",
    formatter(d) {
      return moment(d).local().format("dd, DD/MM/YYYY HH:mm");
    },
    sortable: true,
  },
  {
    key: "total",
    sortable: true,
    formatter(d) {
      return formatter.format(d);
    },
  },
  {
    key: "total_ht",
    sortable: true,
    formatter(d) {
      return formatter.format(d);
    },
  },
  {
    key: "items",
    sortable: true,
  },
  { key: "actions", label: "Actions" },
];
var chart = null;
export default {
  data() {
    return {
      fields,
      cash_register: null,
      date: new Date(),
      perPage: 100,
      currentPage: 1,
      calendarAttributes: [],
    };
  },
  apollo: {
    tickets: {
      query: READ_TICKETS,
      variables() {
        return {
          date: this.date,
        };
      },
    },
  },
  computed: {
    ...mapGetters({
    }),
    cashRegisters() {
      return Array.from(new Set(this.tickets.map((t) => t.cash_register)));
    },
    items() {
      return this.tickets.filter(
        (t) =>
          this.cash_register === null || this.cash_register === t.cash_register
      );
    },
  },
  methods: {
    rowClass(t) {
      // eslint-disable-next-line
      return this.$route.params.ticket == t.id ? "table-success" : "";
    },
    async load() {
      this.date = new Date();
      this.dateChanged();
      this.currentPage = 1;
    },
    async loadData() {
    },
    async calendarTransition(e) {
      var {
        data: { ticketStats },
      } = await this.$apollo.query({
        query: GET_TICKET_STATS,
        variables: {
          year: e.year,
          month: e.month,
        },
      });
      this.stats = ticketStats;
      this.calendarAttributes = Object.freeze(
        ticketStats.map((s) => ({
          dates: [s.date],
          dot: {
            color: themeColor(s.count),
          },
          popover: {
            label: `${s.count} tickets, ${s.cash_registers} caisses.`,
          },
        }))
      );
    },
    async renderChart() {
      var vm = this;
      if (chart) {
        chart.destroy();
      }
      var tl = document.getElementById("timeline");
      if (!tl) return;
      tl.setAttribute("width", null);
      chart = bb.generate({
        data: {
          selection: {
            enabled: true,
            multiple: false,
          },
          onselected(d, t) {
            vm.date = moment(d.x).toDate();
            vm.loadData();
          },
          json: this.stats,
          keys: {
            value: ["count"],
            x: "date",
          },
          labels: true,
          names: {
            count: "Tickets",
          },
          x: "date",
        },
        legend: {
          show: false,
        },
        axis: {
          y: {
            show: false,
          },
          x: {
            height: 18,
            type: "timeseries",

            tick: {
              format: "%d/%m/%Y",
            },
          },
        },
        padding: {
          top: 0,
          left: 0,
          right: 0,
          bottom: 0,
        },
        zoom: {
          enabled: true,
        },
        bindto: tl,
      });
      chart.select("count", [
        this.stats.findIndex(
          (e) => e.date === moment(this.date).format("YYYY-MM-DD")
        ),
      ]);
    },
    rowClicked(item, index, event) {
      event.target.closest("tr").querySelector(".btn").click();
    },
    async dateChanged() {
      await this.loadData();
      //this.$nextTick(() => this.renderChart());
    },
  },
  mounted() {
    this.load();
  },
  watch: {
    "$route.params.ticket"(i) {
      if (chart) {
        this.$nextTick(() => chart.resize());
      }
      
    },
    ticket() {
      if (chart) {
        this.$nextTick(() => chart.resize());
      }
    },
  },
};
</script>
<style>
#tickets .table thead tr:nth-child(1) th {
  background: white;
  position: sticky;
  top: 0;
}
</style>
