<template>
  <doc-view
    id="ticket"
    v-if="ticket"
    :doc="ticket"
    :loading="ticket && !ticket.id"
    :close-to="{ name: 'tickets' }"
    :title="`Ticket ${ticket.number}`"
  >
    <p>
      <strong
        >{{ ticket.cash_register }} &middot; {{ dateF }} &middot;
        {{ ticket.total | cur }} &middot; {{ ticket.items }} item(s)</strong
      >
    </p>
    <table v-if="rticket" class="table table-striped">
      <thead>
        <tr>
          <th>Qty</th>
          <th>Product</th>
          <th>Unit</th>
          <th>TTC</th>
          <th>TVA</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="l of rticket.lines" :key="l.key">
          <td>{{ l.quantity }}x</td>
          <td>
            <router-link
              :to="{
                name: 'product-by-number',
                params: { number: l.product_id },
              }"
            >
              {{ l.productlabel }}
            </router-link>
          </td>
          <td>{{ l.taxedunitprice | cur }}</td>
          <td>{{ l.finaltaxedprice | cur }}</td>
          <td>{{ l.taxrate * 100 }}%</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="3">Total HT</th>
          <th>{{ rticket.total_ht | cur }}</th>
          <th></th>
        </tr>
        <tr v-for="t of rticket.taxes" :key="t.key">
          <td colspan="2"></td>
          <td>TVA {{ t.taxrate * 100 }}%</td>
          <th>{{ t.amount | cur }}</th>
          <th></th>
        </tr>
        <tr>
          <th colspan="3">Total TTC</th>
          <th>{{ rticket.total | cur }}</th>
          <th></th>
        </tr>
      </tfoot>
    </table>
    <p v-if="ticket && ticket.rawTicket">Payment via {{ticket.rawTicket.payment_mode_label}}</p>
    <b-btn
      variant="primary"
      :to="{
        name: 'receipt',
        params: { receipt: 'new' },
        query: { ticket: ticket.id },
      }"
      class="ml-4"
      >Create customer receipt</b-btn
    >
  </doc-view>
</template>
<script>
// import { mapGetters } from 'vuex'
import _ from "lodash";
import moment from "moment";
import DocView from "@/views/DocView";
import { mapGetters } from "vuex";
import { GET_TICKET } from "@/queries/tickets";
import { READ_PAYMENT_METHODS } from "@/queries/configurations";
export default {
  data() {
    return {
      ticket: {},
    };
  },
  components: { DocView },
  computed: {
    ...mapGetters({}),
    dateF() {
      return moment(this.ticket.date).local().format("dd, DD/MM/YYYY HH:mm");
    },
    rticket() {
      return this.ticket?.rawTicket;
    },
    paymentMethodName() {
      return this.paymentMethods?.find(pm => pm.pasteque_reference === this.ticket?.rawTicket?.payment_mode)?.display_name;
    }
  },
  apollo: {
    paymentMethods: {
      query: READ_PAYMENT_METHODS
    }
  },
  methods: {
    async load(t) {
      const {data: {ticket: ticket}} = await this.$apollo.query({
        query: GET_TICKET,
        variables: {
          id: parseInt(t),
        },
        fetchPolicy: "network-only",
      });
      this.ticket = _.cloneDeep(ticket);
      if(!ticket) return;
      for (let l of ticket.rawTicket.lines) {
        l.key = Math.random();
      }
      for (let l of ticket.rawTicket.taxes) {
        l.key = Math.random();
      }
    },
  },
  watch: {
    "$route.params.ticket": {
      handler(t) {
        this.load(t);
      },
      immediate: true,
    },
  },
};
</script>
<style>
</style>
