<script>
import * as gqueries from "../../queries/products";
export default {
  apollo: {
    attributes: {
      query: gqueries.PRODUCT_ATTRIBUTES,
      update: (data) => {
        return data.productAttributes;
      },
    },
  },
  mounted() {},
};
</script>

<template>
  <div>
    <div class="d-flex">
      <b-btn
        :to="{ name: 'product-attribute', params: { attribute: 'new' } }"
        style="white-space: nowrap"
        class="ml-auto"
        variant="primary"
      >
        Add attribute
      </b-btn>
    </div>
    <b-list-group>
      <b-list-group-item
        v-for="a of attributes"
        :key="a.id"
        :to="{ name: 'product-attribute', params: { attribute: a.id } }"
        :variant="($route.params.attribute == a.id && 'success') || ''"
      >
        <h4>{{ a.name }}</h4>
        {{ a.description }}
        <p class="text-muted mt-2" :title="a.values.map(v => v.code).join(', ')">{{a.values.length}} values</p>
      </b-list-group-item>
    </b-list-group>
  </div>
</template>
