<template>
  <doc-view
    id="attribute"
    :title="attribute && attribute.name"
    :loading="!attribute"
    :close-to="{name: 'product-attributes'}"
    :save="save"
    :remove="attribute && attribute.id && remove"
    ref="docView"
  >
    <div
      class="row"
      v-if="attribute"
    >
      <b-form-group
        class="col required"
        label="Name"
      >
        <b-input
          v-model="attribute.name"
          required
        />
      </b-form-group>

      <b-form-group
        class="col-4 required"
        label="Type"
      >
        <b-select
          v-model="attribute.type"
          required
        >
          <option value="general">General</option>
          <option value="color">Color</option>
        </b-select>
      </b-form-group>
      <b-form-group
        class="col-12 required"
        label="Description"
      >
        <b-textarea
          v-model="attribute.description"
          rows="5"
        />
      </b-form-group>
      <div
        v-if="attribute.id"
        class="p-3 w-100"
      >
        <h4>Values</h4>
        <p>
          Please enter the values these attribute can have.
          <b-alert
            show
            variant="warning"
          >
            <b>Warning</b>: Changing or removing a value will change it across all product variants.
          </b-alert>
        </p>
        <b-table
          :items="values"
          show-empty
          :fields="['id','code','value', attribute.type === 'color' && 'color','actions']"
          small
        >
          <template #cell(code)="data">
            <b-input
              required
              v-model="data.item.code"
            />
          </template>

          <template #cell(value)="data">
            <b-input
              required
              v-model="data.item.value"
            />
          </template>

          <template #cell(color)="data">
            <b-input
              v-if="attribute.type==='color'"
              required
              type="color"
              v-model="data.item.color"
            />
          </template>
          <template #cell(actions)="data">
            <b-btn
              variant="danger"
              size="sm"
              @click="removeValue(data.item)"
            ><i class="mdi mdi-trash-can"></i></b-btn>
            <b-btn
              variant="primary"
              size="sm"
              @click="changePosition(data.item, true)"
            ><i class="mdi mdi-arrow-up"></i></b-btn>
            <b-btn
              variant="primary"
              size="sm"
              @click="changePosition(data.item, false)"
            ><i class="mdi mdi-arrow-down"></i></b-btn>
          </template>
        </b-table>
        <b-btn
          variant="primary"
          class="ml-3"
          @click="addValue"
        >Add value</b-btn>
      </div>
    </div>
  </doc-view>
</template>
<script>
import DocView from "@/views/DocView";
import * as gqueries from "@/queries/products";
export default {
  components: { DocView },
  data() {
    return {
      attribute: null,
    };
  },
  computed: {
    values() {
      return (
        this.attribute &&
        this.attribute.values &&
        this.attribute.values.filter((v) => !v.removed)
      );
    },
  },
  methods: {
    async load(a) {
      if (a === "new") {
        this.attribute = {
          name: null,
          code: null,
          values: [],
        };
      } else {
        var { data } = await this.$apollo.query({
          query: gqueries.PRODUCT_ATTRIBUTE,
          variables: {
            id: parseInt(a),
          },
          fetchPolicy: "network-only",
        });
        this.attribute = _.cloneDeep(data.productAttribute);
      }
    },

    async remove() {
      await this.$apollo.mutate({
        mutation: gqueries.DELETE_ATTRIBUTE,
        variables: {
          id: this.attribute.id,
        },
      });
      await this.$apollo.query({
        query: gqueries.PRODUCT_ATTRIBUTES,
        fetchPolicy: "network-only",
      });
      this.$router.push({ name: "product-attributes" });
    },
    async save() {
      let pa = _.pick(this.attribute, [
        "code",
        "description",
        "id",
        "name",
        "type",
      ]);
      pa.values = this.attribute.values.map((v) =>
        _.pick(v, ["code", "color", "id", "value"])
      );
      if (this.attribute.id) {
        await this.$apollo.mutate({
          mutation: gqueries.UPDATE_ATTRIBUTE,
          variables: {
            id: this.attribute.id,
            productAttribute: pa,
          },
        });
        await this.$apollo.query({
          query: gqueries.PRODUCT_ATTRIBUTES,
          fetchPolicy: "network-only",
        });
        await this.load(this.attribute.id);
      } else {
        const { data } = await this.$apollo.mutate({
          mutation: gqueries.CREATE_ATTRIBUTE,
          variables: {
            productAttribute: pa,
          },
        });
        await this.$apollo.query({
          query: gqueries.PRODUCT_ATTRIBUTES,
          fetchPolicy: "network-only",
        });
        this.$router.push({
          name: "product-attribute",
          params: { attribute: data.createProductAttribute },
        });
      }
    },
    addValue() {
      if (!this.attribute.values) {
        this.attribute.values = [];
      }
      this.attribute.values.push({ value: "", color: null });
      this.$refs.docView.change();
    },
    removeValue(v) {
      this.attribute.values = this.attribute.values.filter((_v) => v !== _v);

      this.$refs.docView.change();
    },
    async changePosition(v, up) {
      await this.$apollo.mutate({
        mutation: gqueries.CHANGE_PRODUCT_ATTRIBUTE_VALUE_POSITION,
        variables: {
          product_attribute_id: this.attribute.id,
          product_attribute_value_id: v.id,
          position: Math.max(
            Math.min(
              this.attribute.values.findIndex((_v) => v.id === _v.id) +
                (!up * 2 - 1),
              this.attribute.values.length
            ),
            0
          ),
        },
      });
      // blur all
      var tmp = document.createElement("input");
      document.body.appendChild(tmp);
      tmp.focus();
      document.body.removeChild(tmp);
      await this.load(this.attribute.id);
    },
  },
  watch: {
    "$route.params.attribute": {
      handler(a) {
        this.load(a);
      },
      immediate: true,
    },
  },
};
</script>
