<template>
  <doc-view
    id="product-variants"
    :title="`${product.name} - Variants`"
    :loading="(!product.id && !product.new) || !attributes"
    :close-to="{ name: 'product-list' }"
    :history="product.id"
    ref="docView"
  >
    <b-nav
      tabs
      class="sticky-tabs mb-2"
    >
      <b-nav-item :to="{ name: 'product', params: { product: product.id } }">Product</b-nav-item>
      <b-nav-item active>Variants</b-nav-item>
      <b-nav-item :to="{
          name: 'product-custom-attributes',
          params: { product: product.id },
        }">Custom attributes</b-nav-item>
    </b-nav>

    <b-list-group v-if="product.id">
      <b-list-group-item
        class="m-1"
        v-for="variant of product.variants"
        :key="variant.id"
        @change="variant.changed = true"
      >
        <h5 :style="variantStyle(variant)">{{variantName(variant)}}</h5>
        <b-row>
          <b-form-group class="col-md-5">
            <template v-slot:label>
              SKU
            </template>
            <div class="d-flex">
              <b-input
                v-model="variant.sku"
                placeholder="SKU identifier for this variant"
              >
              </b-input>
            </div>
          </b-form-group>
          <b-form-group class="col-md-7">
            <template v-slot:label>

              Variant name (override)
            </template>
            <div class="d-flex">
              <b-input
                v-model="variant.name"
                :placeholder="variantName(variant)"
              >
              </b-input>
            </div>
          </b-form-group>

        </b-row>
        <div>
          <b-form-group label="Attribute values">
            <div class="d-flex flex-row">
              <div
                v-for="val of variant.values"
                :key="val.key"
              >
                <b-select
                  @change="variantChanged(variant, val, $event)"
                  :value="val.value.id"
                >
                  <option :value="null">None</option>
                  <optgroup
                    v-for="a of remainingAttributes(variant, val)"
                    :key="a.id"
                    :label="a.name"
                  >
                    <option
                      v-for="v of a.values"
                      :key="v.id"
                      :value="v.id"
                    >
                      {{ v.value || v.code }}
                    </option>
                  </optgroup>
                </b-select>
              </div>
              <b-button
                size="sm"
                variant="info"
                @click="addAttributeValue(variant)"
              >
                <i class="mdi mdi-plus"></i>
              </b-button>
            </div>
            <hr />
            <b-button
              variant="outline-primary"
              @click="saveVariant(variant)"
            >
              <i class="mdi mdi-content-save"></i> Save variant
            </b-button>

            <b-btn
              variant="outline-danger"
              outline
              class="ml-3"
              @click="removeVariant(variant)"
              v-if="variant.id"
            >
              <i class="mdi mdi-trash-can"></i>
              Delete variant
            </b-btn>
          </b-form-group>
        </div>
      </b-list-group-item>
    </b-list-group>
    <b-dropdown
      @click="addVariant()"
      variant="primary"
      class="m-3"
      text="Add variant"
      dropright
      split
      v-if="product.variants && !product.variants.find((v) => !v.id)"
    >
      <b-dropdown-item
        v-for="a of attributes"
        :key="a.id"
        @click="addVariants(a)"
      >{{ a.name }} - {{ a.values.length }} variants</b-dropdown-item>
    </b-dropdown>
  </doc-view>
</template>
<script>
import gql from "graphql-tag";

import { mapGetters, mapMutations } from "vuex";
import _ from "lodash";

import DocView from "@/views/DocView";
import { createProduct, compareProducts, variantName, variantStyle } from "@/utils/product-helper";
import * as gqueries from "@/queries/products";

var idCounter = 0;
export default {
  data() {
    return {
      product: {},
      productId: null,
      changed: false,
    };
  },
  components: { DocView },
  apollo: {
    attributes: {
      query: gqueries.PRODUCT_ATTRIBUTES,
      update: (data) => {
        return data.productAttributes;
      },
    },
  },
  computed: {
    ...mapGetters({}),

    attributeValues() {
      const vals = [];
      if (this.attributes) {
        for (let a of this.attributes) {
          for (let av of a.values) {
            vals.push({
              ...av,
              attribute: a,
              attribute_id: a.id,
              text: `${a.name}: ${av.value}`,
            });
          }
        }
      }
      return vals;
    },
    avas() {
      return _.keyBy(this.attributeValues, "id");
    },
  },
  methods: {
    ...mapMutations({
      addMessage: "addMessage",
    }),
    async load(p) {
      this.changed = false;
      this.productId = p;
      if (p === "new") {
        this.product = createProduct();
        this.product.new = true;
        this.product.active = true;
        var q = this.$route.query;
        if (q.missing) {
          this.product.number = q.number;
          this.product.name = q.name;
          this.product.barcode = q.barcode;
          this.product.price = q.price;
          this.product.category_code = (
            this.categories.find(
              (c) => c.rate.toFixed(4) === (q.tax_rate * 100).toFixed(4)
            ) || {}
          ).code;
        }
      } else {
        var { data } = await this.$apollo.query({
          query: gqueries.GET_PRODUCT_VARIANTS,
          variables: {
            id: parseInt(p),
          },
          update(store, { data: { updateProduct: product } }) {
            const data = store.readQuery({ query: READ_PRODUCTS });
            const products = data.products.map((p) => {
              p = { ...p };
              if (p.id === product.id) {
                Object.assign(p, product);
              }
              return p;
            });

            store.writeQuery({ query: READ_PRODUCTS, products });
          },
          fetchPolicy: "network-only",
        });
        let product = _.cloneDeep(data.product);
        // eslint-disable-next-line
        if (product.id == this.productId) {
          if (product.variants) {
            for (let v of product.variants) {
              v.key = `id-${v.id}`;
              for (let val of v.values) {
                val.key = `id-${val.id}`;
              }
            }
          }
          this.product = product;
        }
      }
    },
    remainingAttributes(variant, value) {
      return this.attributes?.filter(
        (a) =>
          value.attribute.id === a.id ||
          !variant.values.find(
            (val) =>
              val.value.id && this.avas[val.value.id]?.attribute_id == a.id
          )
      );
    },
    addAttributeValue(variant) {
      variant.values.push({
        id: null,
        key: `NEW-${new Date().getTime()}`,
        attribute: {
          id: null,
        },
        value: {
          id: null,
        },
      });
    },
    variantChanged(variant, val, valueid) {
      val.value.id = valueid;
      variant.changed = true;
      if (val.value.id) {
        val.attribute.id = this.avas[val.value.id].attribute_id;
        variant.values = _.uniqBy(
          variant.values,
          (vv) => vv.value.id && this.avas[vv.value.id].attribute.id
        );
      }
    },
    variantName,
    variantStyle,
    async addVariants(attribute) {
      await Promise.all(
        attribute.values.map(async (v) => {
          let variant = {
            id: null,
            key: `new-${idCounter++}`,
            name: null,
            code: null,
            values: [
              {
                key: `new-${idCounter++}`,
                id: null,
                value: {
                  id: v.id,
                },
                attribute: {
                  id: attribute.id,
                },
              },
            ],
          };

          await this.$apollo.mutate({
            mutation: gqueries.CREATE_VARIANT,
            variables: {
              variant: {
                ..._.pick(variant, ["code", "name", "sku"]),
                values: variant.values
                  .filter((v) => v.value.id && v.attribute.id)
                  .map((v) => ({
                    value_id: v.value.id,
                    attribute_id: v.attribute.id,
                    id: v.value.id,
                  })),
              },
              product_id: this.product.id,
              version: this.product.version ?? 0,
              variant_id: variant.id,
            },
          });
        })
      );

      this.addMessage({
        level: "success",
        title: "Variants created",
        message: `Variants for attribute ${attribute.name} were saved successfully.`,
      });

      await this.load(this.product.id);
    },

    addVariant(values = []) {
      var variants = this.product.variants;
      variants.push({
        id: null,
        key: `new-${idCounter++}`,
        values,
      });
    },
    async removeVariant(variant) {
      if (
        await this.$bvModal.msgBoxConfirm(
          `Are you sure you want to delete the variant "${this.variantName(variant)}" of "${this.product.name}"?`
        )
      ) {
        await this.$apollo.mutate({
          mutation: gqueries.DELETE_VARIANT,
          variables: {
            product_id: this.product.id,
            version: this.product.version ?? 0,
            variant_id: variant.id,
          },
        });
        this.addMessage({
          level: "warning",
          title: "Variant deleted",
          message: `Variant "${
            this.variantName(variant)
          }" was deleted successfully.`,
        });
        await this.load(this.product.id);
      }
    },
    async saveVariant(variant) {
      await this.$apollo.mutate({
        mutation: variant.id
          ? gqueries.UPDATE_VARIANT
          : gqueries.CREATE_VARIANT,
        variables: {
          variant: {
            ..._.pick(variant, ["code", "name", "sku"]),
            values: variant.values
              .filter((v) => v.value.id && v.attribute.id)
              .map((v) => ({
                value_id: v.value.id,
                attribute_id: v.attribute.id,
                id: v.value.id,
              })),
          },
          product_id: this.product.id,
          version: this.product.version ?? 0,
          variant_id: variant.id,
        },
      });
      this.addMessage({
        level: "success",
        title: "Variant saved",
        message: `Variant "${
            this.variantName(variant)
        }" was saved successfully.`,
      });
      await this.load(this.product.id);
    },
  },
  watch: {
    "$route.params.product": {
      handler(p) {
        this.load(p);
      },
      immediate: true,
    },
  },
};
</script>
