<template>
  <div
    id="product-list"
		class="d-flex flex-column"
    v-if="products"
  >
    <product-table :products="products">
      <template #actions>
        <b-btn
          :to="{name: 'product', params: { product: 'new'}}"
          style="white-space:nowrap;"
          variant="primary"
        >
          Add product
        </b-btn>
      </template>
    </product-table>
  </div>
</template>

<script>
import gql from 'graphql-tag';
import ProductTable from '@/components/ProductTable';
import {READ_PRODUCTS,} from '@/queries/products';
export default {
  components: { ProductTable },
  computed: {
  },
  apollo: {
    products: READ_PRODUCTS,
  },
  methods: {},
  mounted () {
  },
  watch: {}
};
</script>

<style>
#product-list {
	overflow: hidden !important;
}
#product-list .table thead tr:nth-child(1) th {
  background: white;
  position: sticky;
  top: 0;
}
</style>
