<template>
  <doc-view
    id="product"
    :title="product.name"
    :loading="!product.id && !product.new"
    :close-to="{ name: 'product-list' }"
    :save="save"
    :remove="productId && !product.new && remove"
    :history="product.id"
    @input="changed = true"
    ref="docView"
  >
    <template #actions>
      <b-btn
        variant="success"
        :disabled="!canUpload"
        title="Upload this product to pasteque"
        @click="upload"
      >
        <i class="mdi mdi-upload mdi-18px"></i>
      </b-btn>
    </template>
    <b-nav tabs class="sticky-tabs mb-2">
      <b-nav-item active>Product</b-nav-item>
      <b-nav-item
        :disabled="!product.id || product.new"
        :to="{ name: 'product-variants', params: { product: product.id } }"
        >Variants</b-nav-item
      >
      <b-nav-item
        :disabled="!product.id || product.new"
        :to="{
          name: 'product-custom-attributes',
          params: { product: product.id },
        }"
        >Custom attributes</b-nav-item
      >
    </b-nav>

    <div class="container-fluid">
      <b-alert
        variant="secondary"
        dismissible
        show
        class="d-flex align-items-center"
        v-if="pasteque && pasteque.notFound"
      >
        <i class="mdi mdi-alert mdi-24px mr-3"></i>
        <span
          >This product does yet not exist in the database of pasteque. Click
          the upload button to add it.</span
        >
      </b-alert>
      <b-alert
        variant="info"
        dismissible
        show
        class="container-fluid align-items-center"
        v-if="pasteque.pstats && pasteque.pstats.matchErr"
      >
        <div class="row">
          <i class="mdi col-1 mdi-information-variant mdi-24px mr-3"></i>
          <span class="col"
            >This product is not yet synchronized with the pasteque database.
            See below for differences. You can click the upload button above to
            publish it. Or
            <b-link class="text-danger" @click="discardChanges" size="sm"
              >discard the changes</b-link
            >, if you want to use the pasteque version.
          </span>
        </div>
      </b-alert>

      <div class="row">
        <b-form-group class="col-4 required" label="Number">
          <b-input required type="number" v-model.number="product.number" />
        </b-form-group>
        <b-form-group class="col-8" label="SKU">
          <b-input v-model="product.sku" />
        </b-form-group>
        <b-form-group class="col-12 required" label="Category">
          <b-select class="col" v-model="product.category_code" required>
            <option v-for="c of categories" :value="c.code" :key="c.code">
              {{ c.code }} - {{ c.name }}
              <small>({{ c.rate }}%)</small>
            </option>
          </b-select>
          <slot
            name="description"
            v-if="pasteque.pstats && !pasteque.pstats.categoryMatches"
          >
            <span class="text-danger">
              <i class="mdi mdi-alert"></i>
              Current category:
              {{ pasteque.category }}
            </span>
          </slot>
        </b-form-group>
      </div>
      <div class="row">
        <b-form-group class="col required" label="Name">
          <b-input v-model="product.name" required />
          <slot
            name="description"
            v-if="pasteque.pstats && !pasteque.pstats.nameMatches"
          >
            <span class="text-danger">
              <i class="mdi mdi-alert"></i>
              Current name:
              {{ pasteque.label }}
            </span>
          </slot>
        </b-form-group>

        <b-form-group class="col-2" label="Criteria">
          <b-input v-model="product.criteria" />
        </b-form-group>
      </div>
      <div class="row">
        <b-form-group class="col" label="Label">
          <b-input v-model="product.label" />
        </b-form-group>

        <b-form-group class="col-3" label="Active">
          <b-checkbox v-model="product.active" />
          <slot
            name="description"
            v-if="pasteque.pstats && !pasteque.pstats.activeMatches"
          >
            <span class="text-danger">
              <i class="mdi mdi-alert"></i>
              Current value:
              {{ pasteque.visible }}
            </span>
          </slot>
        </b-form-group>
      </div>
      <div class="row">
        <b-form-group class="col" label="Barcode">
          <b-input minlength="13" maxlength="13" v-model="product.barcode" />
          <slot
            name="description"
            v-if="pasteque.pstats && !pasteque.pstats.barcodeMatches"
          >
            <span class="text-danger">
              <i class="mdi mdi-alert"></i>
              Current barcode:
              {{ pasteque.barcode }}
            </span>
          </slot>
        </b-form-group>
        <b-form-group class="col-5 required" label="Price TTC">
          <b-input-group>
            <decimal-input mode="currency" v-model="product.price" required />

            <template #append>
              <b-input-group-text>&euro;</b-input-group-text>
            </template>
          </b-input-group>
          <slot
            name="description"
            v-if="pasteque.pstats && !pasteque.pstats.priceMatches"
          >
            <span class="text-danger">
              <i class="mdi mdi-alert"></i>
              Current price:
              {{ pasteque.price | cur }}
            </span>
          </slot>
        </b-form-group>
      </div>

      <div class="row">
        <b-form-group class="col-4 mr-auto" label="Tax rate">
          <b-input-group>
            <decimal-input v-model="category.rate" v-if="category" disabled />
            <template #append>
              <b-input-group-text>%</b-input-group-text>
            </template>
          </b-input-group>
          <slot
            name="description"
            v-if="pasteque.pstats && !pasteque.pstats.taxMatches"
          >
            <span class="text-danger">
              <i class="mdi mdi-alert"></i>
              Current rate:
              {{ (pasteque.tax_rate * 100) | dec }} %
            </span>
          </slot>
        </b-form-group>
        <b-form-group class="col-5 ml-auto" label="Price HT">
          <b-input-group>
            <decimal-input mode="currency" v-model="priceHT" />

            <template #append>
              <b-input-group-text>&euro;</b-input-group-text>
            </template>
          </b-input-group>
        </b-form-group>
      </div>
      <canvas id="barcode" width="200" height="100"></canvas> <br />
      <b-button
        v-if="webprint.accessible"
        @click="printBarcode"
        variant="outline-primary"
        >Print labels</b-button
      >
      <span
        class="text-warning"
        v-else-if="webprint.exists && !webprint.accessible"
        >Access to printing device is denied. Check permissions to be able to
        print labels.</span
      >
      <span class="text-info" v-else
        >The barcode printing program is not running. Printing labels is not
        possible.</span
      >
    </div>
  </doc-view>
</template>
<script>
import gql from "graphql-tag";

import { mapMutations } from "vuex";
import jsbarcode from "jsbarcode";
import _ from "lodash";

import ean13 from "jsbarcode/lib/barcodes/EAN_UPC/EAN13";
import canvas from "jsbarcode/lib/renderers/canvas";
import DocView from "@/views/DocView";
import * as webprint from "@/client/webprint";
import { createProduct, compareProducts } from "@/utils/product-helper";
import * as gqueries from "@/queries/products";

export default {
  data() {
    return {
      product: {},
      pasteque: {},
      productId: null,
      changed: false,
      hasBarcode: false,
      webprint: webprint.status,
    };
  },
  components: { DocView },
  apollo: {
    categories: gql`
      query {
        categories {
          name
          code
          rate
          pasteque_tax
        }
      }
    `,
  },
  mounted() {
    webprint.startProber();
  },
  beforeDestroy() {
    webprint.endProber();
  },
  computed: {
    category() {
      return (
        this.product &&
        this.categories &&
        this.categories.find((c) => c.code === this.product.category_code)
      );
    },
    canUpload() {
      return (
        (this.pasteque.pstats && this.pasteque.pstats.matchErr) ||
        this.pasteque.notFound === true
      );
    },
    priceHT: {
      get() {
        if (this.category) {
          return (
            this.product.price /
            (1 + this.category.rate / 100)
          ).toPrecision(5);
        } else {
          return null;
        }
      },
      set(v) {
        if (this.category) {
          this.product.price =
            v && (v * (1 + this.category.rate / 100)).toPrecision(5);
        }
      },
    },
  },
  updated() {
    this.renderBarcode();
  },
  methods: {
    ...mapMutations({
      addMessage: "addMessage",
    }),
    async load(p) {
      this.changed = false;
      this.productId = p;
      if (p === "new") {
        this.product = createProduct();
        this.product.new = true;
        this.product.active = true;
        var q = this.$route.query;
        if (q.missing) {
          this.product.number = q.number;
          this.product.name = q.name;
          this.product.barcode = q.barcode;
          this.product.price = q.price;
          this.product.category_code = (
            this.categories.find(
              (c) => c.rate.toFixed(4) === (q.tax_rate * 100).toFixed(4)
            ) || {}
          ).code;
        }
      } else {
        var { data } = await this.$apollo.query({
          query: gqueries.GET_PRODUCT,
          variables: {
            id: parseInt(p),
          },
          fetchPolicy: "network-only",
        });
        let product = JSON.parse(JSON.stringify(data.product));
        // eslint-disable-next-line
        if (product.id == this.productId) {
          this.pasteque = {};
          try {
            this.pasteque = product.pasteque;
            var pres = compareProducts(product, this.pasteque);
            pres.notFound = false;
            pres.pasteque.pstats = pres.pstats;
          } catch (e) {
            this.pasteque = { notFound: true };
          }
          if (product.variants) {
            for (let v of product.variants) {
              v.key = `id-${v.id}`;
              for (let val of v.values) {
                val.key = `id-${val.id}`;
              }
            }
          }
          this.product = product;
        }
      }
    },
    renderBarcode() {
      var b = this.product && this.product.barcode;
      this.hasBarcode = false;
      if (b) {
        this.$nextTick(() => {
          var c = document.getElementById("barcode");
          if (!c) return;
          const context = c.getContext("2d");
          try {
            jsbarcode(c, b, {
              encoder: ean13,
              renderer: canvas,
              displayValue: true,
              margin: 30,
            });
            context.resetTransform();
            context.font = "14px Arial";
            context.fillStyle = "black";
            context.textAlign = "left";
            context.fillText(this.product.name, 30, 23);
            this.hasBarcode = true;
          } catch (e) {
            context.resetTransform();
            context.clearRect(0, 0, c.width, c.height);
            context.textAlign = "left";

            context.font = "16px Arial";
            context.fillStyle = "red";
            context.fillText("Invalid barcode", 10, 50);
          }
        });
      }
    },
    async printBarcode() {
      const nr = parseInt(
        prompt(`How many labels would you like to print?`, 1)
      );
      if (!nr || nr === 0) return;
      let label = webprint.renderLabel(
        this.product.barcode,
        this.product.name,
        this.product.price,
        nr
      );
      //eslint-disable-next-line
      console.log(label);
      await webprint.print(label);
      this.$refs.docView.addMessage({
        level: "success",
        title: "Labels printed successfully",
        message: `Your label(s) have been printed.`,
      });
    },
    async remove() {
      await this.$apollo.mutate({
        mutation: gqueries.DELETE_PRODUCT,
        variables: {
          id: this.product.id,
          version: this.product.version,
        },
      });
      await this.$apollo.query({
        query: gqueries.READ_PRODUCTS,
        fetchPolicy: "network-only",
      });
      this.$router.push({
        name: "product-list",
      });
    },
    async save() {
      if (this.product.id) {
        await this.$apollo.mutate({
          mutation: gqueries.UPDATE_PRODUCT,
          variables: {
            product: _.pick(this.product, gqueries.PRODUCT_INPUT_FIELDS),
            id: this.product.id,
            version: this.product.version ?? 0,
          },
        });
        await this.load(this.product.id);
      } else {
        const {
          data: { createProduct: id },
        } = await this.$apollo.mutate({
          mutation: gqueries.CREATE_PRODUCT,
          variables: {
            product: _.pick(this.product, gqueries.PRODUCT_INPUT_FIELDS),
          },
        });
        this.$router.push({
          name: "product",
          params: {
            product: id,
          },
        });
        await this.$apollo.query({
          query: gqueries.READ_PRODUCTS,
          fetchPolicy: "network-only",
        });
      }
    },
    async upload() {
      if (this.changed) {
        alert(`Please save your changes to the product first.`);
      } else {
        const pasteque_product = {
          ..._.pick(this.product, [
            "barcode",
            "name",
            "number",
            "price",
            "active",
          ]),
          category: this.product.category.name,
          tax_id: this.product.category.pasteque_tax,
          tax_rate: this.product.category.rate,
        };
        if (this.pasteque.id) {
          await this.$apollo.mutate({
            mutation: gqueries.UPDATE_PASTEQUE_PRODUCT,
            variables: {
              product_id: this.product.id,
              product_version: this.product.version,
              pasteque_product_id: this.product.pasteque.id,
              pasteque_product,
            },
          });
        } else {
          await this.$apollo.mutate({
            mutation: gqueries.CREATE_PASTEQUE_PRODUCT,
            variables: {
              product_id: this.product.id,
              product_version: this.product.version,
              pasteque_product,
            },
          });
        }

        this.$store.commit("addMessage", {
          level: "success",
          title: "Synchronized",
          message: `'${this.product.name}' has been synchronized with the pasteque database.`,
        });
        await this.load(this.productId);
      }
    },
    async discardChanges() {
      if (
        confirm(
          `DISCARD CHANGES: This will reset the product back to the pasteque version.\n\nDo you wish to proceed?`
        )
      ) {
        this.product.label = this.product.name = this.pasteque.label;
        this.product.category = this.categories.find(
          (c) => c.name === this.pasteque.category
        );
        this.product.price = this.pasteque.price;
        this.product.barcode = this.pasteque.barcode;
        this.changed = true;
        alert(
          "The product has been reset. Please save the product if you are content with the result."
        );
      }
    },
  },
  watch: {
    "$route.params.product": {
      handler(p) {
        this.load(p);
      },
      immediate: true,
    },
    "product.barcode"(b) {
      this.renderBarcode();
    },
  },
};
</script>
