<template>
  <doc-view
    id="product-custom-attributes"
    :title="`${product.name} - Custom Attributes`"
    :loading="!product.id && !product.new"
    :close-to="{ name: 'product-list' }"
    :save="save"
    :history="product.id"
    @input="changed = true"
    ref="docView"
  >
    <b-nav tabs class="sticky-tabs mb-2">
      <b-nav-item :to="{ name: 'product', params: { product: product.id } }"
        >Product</b-nav-item
      >
      <b-nav-item
        :to="{ name: 'product-variants', params: { product: product.id } }"
        >Variants</b-nav-item
      >
      <b-nav-item active>Custom attributes</b-nav-item>
    </b-nav>
    <h4>Custom attributes</h4>
    <table class="table table-sm table-striped">
      <tbody>
        <tr :key="n" v-for="(v, n) of product.attributes">
          <th>{{ n }}</th>
          <td>
            <b-input v-model="product.attributes[n]" />
          </td>
        </tr>
      </tbody>
    </table>
  </doc-view>
</template>
<script>
import gql from "graphql-tag";

import { mapGetters, mapMutations } from "vuex";
import _ from "lodash";

import DocView from "@/views/DocView";
import * as gqueries from "@/queries/products";

export default {
  data() {
    return {
      product: {},
      productId: null,
      changed: false,
    };
  },
  components: { DocView },
  apollo: {},
  computed: {
    ...mapGetters({}),

    customAttributes() {
      return Object.entries(this.product.attributes).map((e) => ({
        name: e[0],
        value: e[1],
      }));
    },
  },
  methods: {
    ...mapMutations({
      addMessage: "addMessage",
    }),
    async load(p) {
      this.changed = false;
      this.productId = p;
      var { data } = await this.$apollo.query({
        query: gqueries.GET_PRODUCT_CUSTOM_ATTRIBUTES,
        variables: {
          id: parseInt(p),
        },
        fetchPolicy: "network-only",
      });
      let product = { ...data.product };

      this.product = product;
    },
    
    async save() {
      let mutation = gqueries.UPDATE_CUSTOM_ATTRIBUTES;
      await this.$apollo.mutate({
        mutation,
        variables: {
          attributes: this.product.attributes,
          product_id: this.product.id,
          product_version: this.product.version ?? 0,
        }
      });

      await this.load(this.product.id);
    },
    
  },
  watch: {
    "$route.params.product": {
      handler(p) {
        this.load(p);
      },
      immediate: true,
    }
  },
};
</script>
