<script>
export default {};
</script>
<template>

    <b-nav tabs class="py-1">
      <b-nav-item  :to="{name:'product-list'}" :active="/^product((\-list)|(\-var.*)|(\-cust.*))?$/.test($route.name)">
        Products
      </b-nav-item>
      <b-nav-item  :to="{name:'product-attributes'}" :active="/^product-attribute/.test($route.name)">
        Attributes / Variants
      </b-nav-item>
    </b-nav>
</template>
