<template>
  <span class="currency">
    <span :style="{width: _width}" class="integers">{{integerPart}}</span>,
    <span class="fractions" :style="{width: (.5+ (round && parseInt(round) || 2))  + 'ch !important'}">{{fractionalPart}}</span>&euro;
    <slot/>
  </span>
</template>

<script>
import Decimal from 'decimal.js';
function cur (d) {
  // currency format
  var val = d.toDP(4).toString().replace('.', ',');
  if (val.indexOf(',') === -1) {
    return val + ',00';
  } else if (val.indexOf(',') >= val.length - 2) {
    return val + '0';
  } else {
    return val;
  }
};
export default {
  props: {
    value: {},
    width: {},
    round: {
      type: Number,
      default: 2
    }
  },
  data () {
    return {
      decimal: null
    };
  },
  methods: {},
  computed: {
    cur () {
      return cur(this.decimal
        .toDecimalPlaces((this.round && parseInt(this.round)) || 4)
      );
    },
    integerPart () {
      var cur = this.cur;
      var str = cur.substring(0, cur.indexOf(','));
      var extraShift = str.indexOf('-') === 0 ? 1 : 0;
      for (var i = str.length - 3 - extraShift; i > 0; i -= 3) {
        str = str.slice(0, i + extraShift) + '.' + str.slice(i + extraShift);
      }
      return str;
    },
    fractionalPart () {
      var cur = this.cur;
      return cur.substring(cur.indexOf(',') + 1);
    },
    _width () {
      var w = this.width;
      if (w === 'auto') {
        return w;
      } else { return (this.width || '6') + 'ch !important'; }
    }
  },
  watch: {
    value: {
      handler (v) {
        v = v || '0';
        if (typeof v === 'string') {
          this.decimal = Decimal(v.replace(',', '.'));
        } else {
          this.decimal = Decimal(v);
        }
      },
      immediate: true
    }
  }
};
</script>

<style>
.fractions {
  display: inline-block;
  width: 4ch;
  text-align: left;
  font-size: .84em;
}

.integers {
  width: 6ch;
  display: inline-block;
  text-align: right;
}

.currency {
  white-space: nowrap;
  display: inline-flex;
  align-items: baseline;
}
</style>
