<template>
  <input
    v-model="currentValue"
    ref='input'
    @blur="blur"
    :class="inputFullClass"
    @change="change"
    @keydown="keydown"
    type="text"
    class="form-control decimal-input"
  >
</template>

<script>
import Decimal from 'decimal.js';
function fmt (d, dp, useGrouping, opts) {
  // french format
  // return this.toDP(dp || 4).toString().replace('.', ',');
  return d
    .toDP(dp || 4)
    .toNumber()
    .toLocaleString('fr-Fr', {
      useGrouping: useGrouping || false,
      ...opts
    });
}
function cur (d) {
  // currency format
  var val = d.toDP(4).toString().replace('.', ',');
  if (val.indexOf(',') === -1) {
    return val + ',00';
  } else if (val.indexOf(',') >= val.length - 2) {
    return val + '0';
  } else {
    return val;
  }
};
export default {
  props: [
    'mode',
    'label',
    'model',
    'description',
    'input-class',
    'round',
    'min',
    'max',
    'small',
    'value'
  ],
  data () {
    return {
      styleClass: 'decimal-input',
      lastValue: null,
      currentValue: null,
      invalidValue: false,
      emittedValue: null
    };
  },
  methods: {
    change (e) {
      var val = (e && e.target.value) || this.currentValue;
      try {
        let v;
        if (this.mode === 'integer') {
          v = val === '' ? null : parseInt(val);
          if (v !== null && !Number.isSafeInteger(v)) {
            this.invalidValue = true;
            return;
          }
        } else {
          v = val === '' ? null : this.decimalValue(val, true).toNumber();
        }
        if (v == null || this.emittedValue !== v) {
          this.emittedValue = v;
          this.$emit('input', v);
        }
        this.invalidValue = false;
      } catch (e) {
        this.invalidValue = true;
      }
    },
    keydown (e) {
      if (e.isTrusted) {
        switch (e.key) {
          case 'p':
            this.add('1');
            e.preventDefault();
            return false;
          case 'm':
            this.add('-1');
            e.preventDefault();
            return false;
          case 'i':
            this.inverse();
            e.preventDefault();
            return false;
          case 'o':
            this.zero();
            e.preventDefault();
            return false;
          case 'a':
            this.$refs.input.select();
            e.preventDefault();
            return false;
        }
      }
      this.$emit('keydown', e);
    },
    emitInputEvent () {
      this.change();
      this.$el.dispatchEvent(
        new Event('input', {
          bubbles: true
        })
      );
    },
    focus () {},
    blur () {
      // this.change(e);
      if (!this.invalidValue) {
        // pretty print the value when the curser leaves the text field
        this.currentValue = this.formatValue(this.currentValue);
      }
    },
    add (v) {
      this.currentValue = this.formatValue(this.decimalValue().plus(v));
      this.emitInputEvent();
    },
    zero () {
      this.currentValue = this.formatValue(new Decimal(0));
      this.emitInputEvent();
    },
    inverse () {
      if (this.decimalValue().toString() === '0') {
        return;
      }
      this.currentValue = this.formatValue(
        new Decimal(1).dividedBy(this.decimalValue())
      );
      this.emitInputEvent();
    },
    show () {},
    documentClicked (ev) {
      if (!this.$el.contains(ev.target)) {
        this.showUtils = false;
      }
    },
    formatValue (v) {
      if (v) {
        if (typeof v === 'string') v = v.replace(',', '.');
        var val = new Decimal(v).toDP(this.round === null ? 8 : this.round);
        if (this.currency) {
          return cur(val);
        } else {
          return fmt(val);
        }
      } else {
        return '';
      }
    },
    decimalValue (v, throwException) {
      v = v === undefined ? this.currentValue : v;
      if (v === null || v === '') {
        // improve speed by not throwing exception
        return Decimal(0);
      }
      try {
        return new Decimal(v && v.replace(',', '.'));
      } catch (e) {
        if (throwException) throw e;
        else return Decimal(0);
      }
    }
  },
  computed: {
    currency () {
      return this.mode === 'currency';
    },
    inputFullClass () {
      return (
        this.styleClass +
        ' ' +
        this.inputClass +
        (this.invalidValue ? ' invalid' : '') +
        (this.small ? ' form-control-sm' : '')
      );
    }
  },
  name: 'decimal-input',
  beforeDestroy () {},
  mounted () {},
  watch: {
    value: {
      handler (v) {
        if (v && this.emittedValue === v) {
          // the value change was actually triggered
          // by our own call to $emit, so we can ignore it.
          return;
        }
        try {
          this.currentValue = this.formatValue(this.value);
          return;
        } catch (e) {
          // valuecould not be converted, ignore
        }
        this.currentValue = this.value;
      },
      immediate: true
    },
    invalidValue (i) {
      if (i) {
        this.$el.setCustomValidity('Invalid decimal number');
      } else {
        this.$el.setCustomValidity('');
      }
    }
  }
};
</script>

<style>
.decimal-input {
  width: 100%;
  text-align: right;
}
.decimal-input.inline {
  display: inline-block;
  width: auto;
}

.number-utils {
  z-index: 2000;
  background: #fefefe;
  padding: 0px 5px;
  opacity: 0.9;
  position: absolute;
  white-space: nowrap;
}

.number-utils-btn {
  padding: 1px 3px;
  width: auto;
}
</style>
