<template>
  <div class="messages ">
    <b-alert
      class="shadow-sm"
      dismissible
      fade
      v-for="m of messages"
      close
      :key="m.key"
      :variant="m.level"
      :show="m.timeout"
      @dismissed="removeMessage(m)"
      @dismiss-count-down="(v) => m.countdown=v"

    >
      <h5>{{m.title}}</h5>
      {{m.message}}
      <b-progress
        variant="warning"
        :max="m.timeout"
        :value="m.countdown"
        height="4px"
      />

    </b-alert>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  computed: {
    ...mapGetters({
      messages: 'messages'
    })
  },
  methods: {
    removeMessage (m) {
      this.$store.commit('clearMessage', m);
    }
  }
};
</script>
<style scoped>
.messages {
  position: absolute;
  bottom: 10px;
  right: 30px;
  z-index: 400;
}
</style>
