<template>
  <div class="product-table d-flex flex-column" v-if="products">
    <div class="d-flex">
      <b-input v-model="filter" placeholder="Search..." debounce="500" />
      <b-select v-model="code">
        <option value="All">All ({{ items.length }})</option>
        <template v-for="c of categories">
          <option v-if="catcounts[c.code]" :value="c.code" :key="c.code">
            {{ c.code }} - {{ c.name }} ({{ catcounts[c.code] || 0 }})
          </option>
        </template>
        <option value="error" key="error" class="text-danger">
          Not synchronized with Pasteque
        </option>
        <option value="missing" key="missing" class="text-danger">
          Missing products that exist in Pasteque
        </option>
      </b-select>
      <slot name="actions" />
    </div>
    <div class="scrollable">
      <b-table
        style="min-width: 800px;"
        striped
        small
        foot-clone
        :selectable="selectable"
        select-mode="range"
        selectedVariant="success"
        :fields="fields"
        @row-selected="rowsSelected"
        :items="filteredItems"
        @row-clicked="rowClicked"
        :tbody-tr-class="rowClass"
        primary-key="id"
        :busy="$apollo.loading"
        :per-page="perPage"
				show-empty
        :current-page="currentPage"
      >
        <template #table-busy class="text-primary my-2">
          <b-spinner></b-spinner>
        </template>
				<template #empty>
					No products found.
				</template>
        <template #cell(actions)="row">
          <!-- We use click.stop here to prevent a 'row-clicked' event from also happening -->
          <b-btn
            variant="info"
            size="sm"
            v-if="!row.item.missing"
            :to="{
              name: 'product',
              params: { product: row.item.product_id || row.item.id },
            }"
            >Details</b-btn
          >

          <b-btn
            variant="danger"
            size="sm"
            v-if="row.item.missing"
            :to="{
              name: 'product',
              params: { product: 'new' },
              query: row.item,
            }"
            >Create</b-btn
          >
        </template>
        <template #cell(name)="data">
          {{ data.item.name }}
          <i
            class="mdi mdi-alert text-danger"
            v-if="data.item.syncStats&& data.item.syncStats.pasteque_id && !data.item.syncStats.name_matches"
          ></i>
        </template>
        <template #cell(barcode)="data">
          {{ data.item.barcode }}
          <i
            class="mdi mdi-alert text-danger"
            v-if="data.item.syncStats && data.item.syncStats.pasteque_id && !data.item.syncStats.barcode_matches"
          ></i>
        </template>
        <template #cell(price)="data">
          {{ data.value }}
          <i
            class="mdi mdi-alert text-danger"
            v-if="data.item.syncStats && data.item.syncStats.pasteque_id && !data.item.syncStats.price_matches"
          ></i>
        </template>
        <template #cell(variants)="data">
          <span
            v-if="data.item.variants && typeof data.item.variants === 'object'"
          >
            <span v-for="v of data.item.variants" :key="v.variant_id">
              <div
                v-if="v.av && v.av.color"
                class="color-disp"
                :title="v.name"
                :style="`background-color: ${v.av.color}`"
              ></div>
              <span :title="v.name" v-else>{{ v.code }}</span>
            </span>
          </span>
          <span v-else-if="data.item.variants">{{ data.item.variants }}</span>
        </template>
      </b-table>
    </div>
    <b-pagination
      v-model="currentPage"
      :total-rows="filteredItems.length"
      :per-page="perPage"
      align="center" class="mb-1"
    ></b-pagination>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import _ from "lodash";
import gql from "graphql-tag";
import * as gq from "@/queries/products";

var formatter = new Intl.NumberFormat("fr-FR", {
  style: "currency",
  currency: "EUR",
  minimumFractionDigits: 2,
});
export default {
  props: {
    selectable: {
      type: Boolean,
      default: false,
    },
    rowsSelected: {
      type: Function,
      default: () => false,
    },
    products: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      filter: "",
      code: "0",
      missing: null,
      notSynchronized: null,
      fields: [
        {
          key: "number",
          sortable: true,
        },
        {
          key: "sku",
          label: "SKU",
          sortable: true,
        },
        {
          key: "category_code",
          label: "Code",
          sortable: true,
        },
        {
          key: "name",
          sortable: true,
        },
        {
          key: "barcode",
          sortable: true,
        },
        {
          key: "criteria",
          sortable: true,
        },
        {
          key: "price",
          sortable: true,
          formatter(d) {
            return formatter.format(d);
          },
        },
        {
          key: "variant_count",
          label: "Variants",
          formatter: (vc) => (vc ? vc : ""),
        },
        { key: "actions", label: "Actions" },
      ],
      perPage: 100,
      currentPage: 1,
    };
  },
  apollo: {
    categories: gql`
      query {
        categories {
          name
          code
          rate
        }
      }
    `,
  },
  computed: {
    ...mapGetters({}),
    items() {
      return this.products.map((p) => ({
        ...p,
        search: (p.name + p.number + p.barcode + p.criteria).toLowerCase(),
      }));
    },
    catcounts() {
      return _.countBy(this.items, (i) => i.category_code);
    },
    filteredItems() {
      if (this.code === "error") {
        return this.notSynchronized ?? [];
      } else if (this.code === "missing") {
        return this.missing ?? [];
      }
      return this.items.filter(
        (i) =>
          this.filterFunction(i) &&
          (this.code === "All" || i.category_code === this.code)
      );
    },
  },
  methods: {
    rowClass(p) {
      if (p) {
        var classes = [];
        if (p.has_pasteque_product === false) {
          classes.push("text-muted");
        } else if (p.syncStats && Object.values(p.syncStats).reduce( (p,v) => p || v === false, false)) {
          classes.push("text-danger");
        }
        // eslint-disable-next-line
        if (this.$route.params.product == p.id) {
          classes.push("table-success");
        }
        if (!p.active) {
          classes.push("text-strikethrough");
        }
        return classes.join(" ");
      }
    },
    filterFunction(e) {
      return e.search.indexOf(this.filter.toLowerCase()) > -1;
    },
    rowClicked(item, index, event) {
      if (!this.selectable) {
        event.target.closest("tr").querySelector(".btn").click();
      }
    },
    async loadMissing() {
      const { data } = await this.$apollo.query({
        query: gq.READ_MISSING_PRODUCTS,
				fetchPolicy: 'network-only'
      });
      this.missing = data.missingPastequeProducts.map((pp) => ({
        ...pp,
        number: pp.id,
        name: pp.label,
        category_code: pp.tax,
        missing: true,
      }));
    },
    async loadNotSynchronized() {
			const { data } = await this.$apollo.query({
        query: gq.READ_NOT_SYNCHRONIZED,
				fetchPolicy: 'network-only'
      });
			this.notSynchronized = data.unsynchronizedProducts;
		},
  },
  mounted() {},
  watch: {
    code: {
      immediate: true,
      handler(c) {
        if (c === "missing") {
          return this.loadMissing();
        } else if (c === "error") {
          return this.loadNotSynchronized();
        }
      },
    },
    products: {
      handler(products) {
        this.missing = null;
        this.notSynchronized = null;
        if (this.code === "missing" || this.code === "error") {
          this.code = null;
        }
        if (products) {
          var p = products.find(
            // eslint-disable-next-line
            (p) => p.id == this.$route.params.product
          );
          if (p) {
            this.code = p.category_code;
          }
        }
      },
      immediate: true,
    },
  },
};
</script>

<style>
.product-table .table thead tr:nth-child(1) {
  background: white;
  position: sticky;
  top: 0;
  z-index: 10;
}
.product-table {
  overflow: hidden;
}
.product-table tr {
  cursor: pointer;
}
</style>
